In [852]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.metrics import confusion_matrix
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [853]:
## Reading the data :--

In [854]:
c1=pd.read_csv("C:\\Users\kaust\\Desktop\\NPC case study\\complaints.txt",sep=";") 
c1.head()

,ComplaintID,CustomerID,ProductID,ComplaintDate,ComplaintType,SolutionType,FeedbackType
0,181932,3464,8.0,14/10/2010,7,2.0,NaN
1,168698,3464,8.0,19/07/2010,1,2.0,3.0
2,163694,4107,8.0,11/06/2010,1,2.0,3.0
3,111664,4870,8.0,25/04/2009,1,3.0,3.0
4,139482,4870,8.0,05/12/2009,1,3.0,3.0

In [855]:
c2=pd.read_csv("C:\\Users\kaust\\Desktop\\NPC case study\\credit.txt",sep=";")
c2.head()

,SubscriptionID,ActionType,ProcessingDate,CreditSource,Amount,NbrNewspapers
0,1002057,EN,18/05/2009,COM,1.0400,1.0
1,1002089,EN,06/10/2010,COM,0.8783,1.0
2,1002089,EN,22/12/2010,COM,0.8783,1.0
3,1002089,EN,23/12/2010,COM,0.8783,1.0
4,1002089,EN,24/12/2010,COM,0.8783,1.0

In [856]:
c3=pd.read_csv("C:\\Users\kaust\\Desktop\\NPC case study\\customers.txt",sep=";")
c3.head()

   CustomerID Gender         DOB  District   ZIP  StreeID
0      908289      F  24/01/1957         5  3660    42555
1       55837      M  31/01/1948         1  2620    24910
2      493436      M  11/07/1977         5  3570    39586
3      913684      F  01/01/1900         5  3500    37484
4       36632      M  18/08/1952         5  3910    46296

In [857]:
c4=pd.read_csv("C:\\Users\kaust\\Desktop\\NPC case study\\delivery.txt",sep=";")
c4.head()

,SubscriptionID,DeliveryType,DeliveryClass,DeliveryContext,StartDate,EndDate
0,1000024,MD,NOR,NaN,18/01/2010,17/04/2010
1,1000082,MD,ABN,NaN,12/02/2010,13/02/2010
2,1000082,MD,NOR,NaN,15/01/2010,11/02/2010
3,1000082,MD,NOR,NaN,14/02/2010,12/03/2010
4,1000082,MD,ABN,NaN,14/01/2010,14/01/2010

In [858]:
c5=pd.read_csv("C:\\Users\kaust\\Desktop\\NPC case study\\formula.txt",sep=";")
c5.head()

   FormulaID  FormulaCode FormulaType  Duration
0      10011         2051         CAM        12
1      10013         2051         CAM        12
2      10014         2051         CAM         6
3      10017            3         CAM         3
4      10019           71         CAM         3

In [859]:
c6=pd.read_csv("C:\\Users\\kaust\\Desktop\\NPC case study\\subscription.csv")
c6

,SubscriptionID,CustomerID,ProductID,Pattern,StartDate,EndDate,NbrNewspapers,NbrStart,RenewalDate,PaymentType,...,PaymentDate,FormulaID,GrossFormulaPrice,NetFormulaPrice,NetNewspaperPrice,ProductDiscount,FormulaDiscount,TotalDiscount,TotalPrice,TotalCredit
0,1000024,1150045,8,1111110,18/01/2010,17/04/2010,76,25,17/3/2010,BT,...,27/01/2010,8552,79,79,1.039.474,0,0,0,79.0,0
1,1000082,1150046,8,1111110,14/01/2010,12/3/2010,50,25,3/3/2010,BT,...,11/2/2010,10017,519.737,29.6,0.592,0,223.737,223.737,29.6,0
2,100012,89085,8,1111110,1/1/2008,30/12/2008,304,10,21/11/2008,BT,...,12/12/2007,875,249,249,0.811842,0,0,0,246.8,-2.2
3,100013,89085,8,1111110,2/1/2007,31/12/2007,304,25,12/1/2007,BT,...,28/12/2006,874,235,235,0.773026,0,0,0,235.0,0
4,100016,89087,8,1111110,1/1/2008,30/12/2008,304,10,21/11/2008,BT,...,12/12/2007,875,249,249,0.811842,0,0,0,246.8,-2.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15454,999767,1149767,8,1111110,18/01/2010,16/04/2010,76,25,17/3/2010,BT,...,26/01/2010,8552,79,79,1.039.474,0,0,0,79.0,0
15455,999805,1115400,3,1111110,12/2/2010,14/05/2010,76,10,14/4/2010,BT,...,22/01/2010,8788,79,79,1.039.474,0,0,0,79.0,0
15456,999816,799724,8,1111110,14/01/2010,13/03/2010,50,25,3/5/2010,BT,...,3/2/2010,10017,519.737,29.6,0.592,0,223.737,223.737,29.6,0
15457,999832,23367,6,1111110,12/2/2010,14/05/2010,76,10,14/4/2010,BT,...,2/2/2010,8907,79,79,1.039.474,0,0,0,79.0,0
15458,999837,788976,8,1111110,14/01/2010,12/3/2010,50,25,3/3/2010,BT,...,5/2/2010,10017,519.737,29.6,0.592,0,223.737,223.737,29.6,0

In [860]:
## Cleaning the data and changing datatype :--

In [861]:
c1["ComplaintDate"]=c1["ComplaintDate"].astype('datetime64[ns]')

In [862]:
c1.dtypes

ComplaintID               int64
CustomerID                int64
ProductID               float64
ComplaintDate    datetime64[ns]
ComplaintType             int64
SolutionType            float64
FeedbackType            float64
dtype: object

In [863]:
c2["ProcessingDate"]=c2["ProcessingDate"].astype('datetime64[ns]')

In [864]:
c2.dtypes

SubscriptionID             int64
ActionType                object
ProcessingDate    datetime64[ns]
CreditSource              object
Amount                   float64
NbrNewspapers            float64
dtype: object

In [865]:
c3["DOB"]=c3["DOB"].astype('datetime64[ns]')

In [866]:
c3.dtypes

CustomerID             int64
Gender                object
DOB           datetime64[ns]
District               int64
ZIP                    int64
StreeID                int64
dtype: object

In [867]:
c4["StartDate"]=c4["StartDate"].astype('datetime64[ns]')
c4["EndDate"]=c4["EndDate"].astype('datetime64[ns]')

In [868]:
c4.dtypes

SubscriptionID              int64
DeliveryType               object
DeliveryClass              object
DeliveryContext            object
StartDate          datetime64[ns]
EndDate            datetime64[ns]
dtype: object

In [869]:
c5.dtypes

FormulaID       int64
FormulaCode     int64
FormulaType    object
Duration        int64
dtype: object

In [870]:
c6["StartDate"]=c6["StartDate"].astype('datetime64[ns]')
c6["EndDate"]=c6["EndDate"].astype('datetime64[ns]')

In [871]:
c6["RenewalDate"][c6["RenewalDate"]==" / /"]=" "

C:\Users\kaust\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [872]:
c6["RenewalDate"]=pd.to_datetime(c6["RenewalDate"],format='%d/%m/%Y',errors="coerce")

In [873]:
c6["PaymentDate"]=pd.to_datetime(c6["PaymentDate"],format='%d/%m/%Y',errors="coerce")

In [874]:
c6["NbrStart"]=pd.to_numeric(c6["NbrStart"],errors="coerce")

In [875]:
c6["FormulaID"]=pd.to_numeric(c6["FormulaID"],errors="coerce")

In [876]:
c6["GrossFormulaPrice"]=pd.to_numeric(c6["GrossFormulaPrice"],errors="coerce")

In [877]:
c6["NetFormulaPrice"]=pd.to_numeric(c6["NetFormulaPrice"],errors="coerce")

In [878]:
c6["NetNewspaperPrice"]=pd.to_numeric(c6["NetNewspaperPrice"],errors="coerce")

In [879]:
c6["ProductDiscount"]=pd.to_numeric(c6["ProductDiscount"],errors="coerce")

In [880]:
c6["FormulaDiscount"]=pd.to_numeric(c6["FormulaDiscount"],errors="coerce")

In [881]:
c6["TotalDiscount"]=pd.to_numeric(c6["TotalDiscount"],errors="coerce")

In [882]:
c6["TotalCredit"]=pd.to_numeric(c6["TotalCredit"],errors="coerce")

In [883]:
c6.dtypes

SubscriptionID                int64
CustomerID                    int64
ProductID                     int64
Pattern                       int64
StartDate            datetime64[ns]
EndDate              datetime64[ns]
NbrNewspapers                 int64
NbrStart                    float64
RenewalDate          datetime64[ns]
PaymentType                  object
PaymentStatus                object
PaymentDate          datetime64[ns]
FormulaID                   float64
GrossFormulaPrice           float64
NetFormulaPrice             float64
NetNewspaperPrice           float64
ProductDiscount             float64
FormulaDiscount             float64
TotalDiscount               float64
TotalPrice                  float64
TotalCredit                 float64
dtype: object

In [884]:
c6["PaymentStatus"][c6["PaymentStatus"]=="Not"]="NotPaid"

C:\Users\kaust\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [885]:
c6["PaymentStatus"][c6["PaymentStatus"]=="tPaid"]="NotPaid"

C:\Users\kaust\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [886]:
c6["PaymentStatus"].value_counts()

Paid       14626
NotPaid      833
Name: PaymentStatus, dtype: int64

In [887]:
c6["PaymentType"][c6["PaymentType"]=="No"]="Cannot_tell"

C:\Users\kaust\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [888]:
c6["PaymentType"].value_counts()

BT             13194
DD              2259
Cannot_tell        6
Name: PaymentType, dtype: int64

In [889]:
## Merging the data :--

In [890]:
complaint=c6.merge(c1,how='left')

In [891]:
delivery=complaint.merge(c4,how="left")

In [892]:
formula=delivery.merge(c5,how="left")

C:\Users\kaust\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1097: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  UserWarning,

In [893]:
customers=formula.merge(c3,how="left")

In [894]:
final=customers.merge(c2,how="left")

In [895]:
final

,SubscriptionID,CustomerID,ProductID,Pattern,StartDate,EndDate,NbrNewspapers,NbrStart,RenewalDate,PaymentType,...,Duration,Gender,DOB,District,ZIP,StreeID,ActionType,ProcessingDate,CreditSource,Amount
0,1000024,1150045,8,1111110,2010-01-18,2010-04-17,76,25.0,2010-03-17,BT,...,3.0,M,1900-01-01,5,3600,40517,NaN,NaT,NaN,NaN
1,1000024,1150045,8,1111110,2010-01-18,2010-04-17,76,25.0,2010-03-17,BT,...,3.0,M,1900-01-01,5,3600,40517,NaN,NaT,NaN,NaN
2,1000024,1150045,8,1111110,2010-01-18,2010-04-17,76,25.0,2010-03-17,BT,...,3.0,M,1900-01-01,5,3600,40517,NaN,NaT,NaN,NaN
3,1000082,1150046,8,1111110,2010-01-14,2010-12-03,50,25.0,2010-03-03,BT,...,3.0,F,1900-01-01,5,3570,39650,NaN,NaT,NaN,NaN
4,100012,89085,8,1111110,2008-01-01,2008-12-30,304,10.0,2008-11-21,BT,...,12.0,M,1936-09-07,5,3600,40799,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31082,999767,1149767,8,1111110,2010-01-18,2010-04-16,76,25.0,2010-03-17,BT,...,3.0,M,1959-09-21,1,2660,25745,NaN,NaT,NaN,NaN
31083,999805,1115400,3,1111110,2010-12-02,2010-05-14,76,10.0,2010-04-14,BT,...,3.0,M,1958-08-15,1,2547,23415,NaN,NaT,NaN,NaN
31084,999816,799724,8,1111110,2010-01-14,2010-03-13,50,25.0,2010-05-03,BT,...,3.0,M,1900-01-01,5,3530,38403,NaN,NaT,NaN,NaN
31085,999832,23367,6,1111110,2010-12-02,2010-05-14,76,10.0,2010-04-14,BT,...,3.0,F,1900-01-01,1,2460,21573,NaN,NaT,NaN,NaN
31086,999837,788976,8,1111110,2010-01-14,2010-12-03,50,25.0,2010-03-03,BT,...,3.0,F,1900-01-01,5,3732,44254,NaN,NaT,NaN,NaN

In [896]:
## Setting data into different time windows :--
##   Start of dependent window = 1 January 2011
##   End of dependent window = 31 December 2011
##   End of independent window = 1 December 2010

In [897]:
start_dw=np.datetime64('2011-01-01')

In [898]:
end_dw=np.datetime64('2011-12-31')

In [899]:
end_iw=np.datetime64('2010-12-01')

In [900]:
basetable=final[ (final['StartDate']<end_iw) & ((final['EndDate']<start_dw)) ]

In [901]:
basetable

,SubscriptionID,CustomerID,ProductID,Pattern,StartDate,EndDate,NbrNewspapers,NbrStart,RenewalDate,PaymentType,...,Duration,Gender,DOB,District,ZIP,StreeID,ActionType,ProcessingDate,CreditSource,Amount
0,1000024,1150045,8,1111110,2010-01-18,2010-04-17,76,25.0,2010-03-17,BT,...,3.0,M,1900-01-01,5,3600,40517,NaN,NaT,NaN,NaN
1,1000024,1150045,8,1111110,2010-01-18,2010-04-17,76,25.0,2010-03-17,BT,...,3.0,M,1900-01-01,5,3600,40517,NaN,NaT,NaN,NaN
2,1000024,1150045,8,1111110,2010-01-18,2010-04-17,76,25.0,2010-03-17,BT,...,3.0,M,1900-01-01,5,3600,40517,NaN,NaT,NaN,NaN
3,1000082,1150046,8,1111110,2010-01-14,2010-12-03,50,25.0,2010-03-03,BT,...,3.0,F,1900-01-01,5,3570,39650,NaN,NaT,NaN,NaN
4,100012,89085,8,1111110,2008-01-01,2008-12-30,304,10.0,2008-11-21,BT,...,12.0,M,1936-09-07,5,3600,40799,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31073,99929,89035,8,1111110,2007-02-01,2007-12-31,304,25.0,2007-01-12,BT,...,12.0,M,1949-10-06,5,3600,40785,NaN,NaT,NaN,NaN
31080,999529,457926,1,1111110,2010-01-14,2010-06-02,164,25.0,2010-04-02,BT,...,6.0,M,1955-07-06,1,2100,14497,NaN,NaT,NaN,NaN
31082,999767,1149767,8,1111110,2010-01-18,2010-04-16,76,25.0,2010-03-17,BT,...,3.0,M,1959-09-21,1,2660,25745,NaN,NaT,NaN,NaN
31084,999816,799724,8,1111110,2010-01-14,2010-03-13,50,25.0,2010-05-03,BT,...,3.0,M,1900-01-01,5,3530,38403,NaN,NaT,NaN,NaN
31086,999837,788976,8,1111110,2010-01-14,2010-12-03,50,25.0,2010-03-03,BT,...,3.0,F,1900-01-01,5,3732,44254,NaN,NaT,NaN,NaN

In [902]:
((basetable.isnull().sum()/len(basetable))*100).sort_values(ascending=False).head(15)

Amount             100.000000
ProcessingDate     100.000000
ActionType         100.000000
CreditSource       100.000000
DeliveryContext     84.533648
FeedbackType        66.218024
SolutionType        42.955529
DeliveryType        33.974813
DeliveryClass       33.974813
ComplaintID         26.029122
ComplaintDate       26.029122
ComplaintType       26.029122
FormulaCode         18.598977
FormulaType         18.598977
Duration            18.598977
dtype: float64

In [903]:
# Here, we will drop the variables that have more than 25 percent of the missing values.

In [904]:
basetable=basetable.drop(["Amount","ActionType","CreditSource","ProcessingDate","DeliveryContext","FeedbackType",
                          "SolutionType","DeliveryClass","DeliveryType","ComplaintType",
                          "ComplaintDate","ComplaintID"],axis=1)

In [905]:
basetable.head()

,SubscriptionID,CustomerID,ProductID,Pattern,StartDate,EndDate,NbrNewspapers,NbrStart,RenewalDate,PaymentType,...,TotalPrice,TotalCredit,FormulaCode,FormulaType,Duration,Gender,DOB,District,ZIP,StreeID
0,1000024,1150045,8,1111110,2010-01-18,2010-04-17,76,25.0,2010-03-17,BT,...,79.0,0.0,2.0,REG,3.0,M,1900-01-01,5,3600,40517
1,1000024,1150045,8,1111110,2010-01-18,2010-04-17,76,25.0,2010-03-17,BT,...,79.0,0.0,2.0,REG,3.0,M,1900-01-01,5,3600,40517
2,1000024,1150045,8,1111110,2010-01-18,2010-04-17,76,25.0,2010-03-17,BT,...,79.0,0.0,2.0,REG,3.0,M,1900-01-01,5,3600,40517
3,1000082,1150046,8,1111110,2010-01-14,2010-12-03,50,25.0,2010-03-03,BT,...,29.6,0.0,3.0,CAM,3.0,F,1900-01-01,5,3570,39650
4,100012,89085,8,1111110,2008-01-01,2008-12-30,304,10.0,2008-11-21,BT,...,246.8,-2.2,18.0,REG,12.0,M,1936-09-07,5,3600,40799

In [906]:
basetable["Start_Year"]=pd.DatetimeIndex(basetable['StartDate']).year

In [907]:
## Creating Dependent variable :--

In [908]:
basetable['Churn'] =np.where(basetable['RenewalDate'].isnull(), 0, 1)

In [ ]:
# Here, we created a new variable Churn using the Renewal date for finding out whether the customers have renewed their 
# subscriptions or not.

In [610]:
## Numerical Variables :--

In [909]:
# Missing value Treatment--

In [910]:
basetable['GrossFormulaPrice']=basetable['GrossFormulaPrice'].fillna(0)

In [911]:
basetable['NetNewspaperPrice']=basetable['NetNewspaperPrice'].fillna(0)

In [912]:
basetable['ProductDiscount']=basetable['ProductDiscount'].fillna(0)

In [913]:
basetable['FormulaDiscount']=basetable['FormulaDiscount'].fillna(0)

In [914]:
basetable['TotalDiscount']=basetable['TotalDiscount'].fillna(0)

In [915]:
basetable['TotalCredit']=basetable['TotalCredit'].fillna(0)

In [916]:
basetable['NbrStart']=basetable['NbrStart'].fillna(0)

In [917]:
basetable['FormulaID']=basetable['FormulaID'].fillna(0)

In [918]:
basetable['NetFormulaPrice']=basetable['NetFormulaPrice'].fillna(0)

In [919]:
basetable['TotalPrice']=basetable['TotalPrice'].fillna(0)

In [920]:
basetable['FormulaCode']=basetable['FormulaCode'].fillna(0)

In [921]:
basetable['Duration']=basetable['Duration'].fillna(0)

In [922]:
basetable.isnull().sum()

SubscriptionID          0
CustomerID              0
ProductID               0
Pattern                 0
StartDate               0
EndDate                 0
NbrNewspapers           0
NbrStart                0
RenewalDate          1000
PaymentType             0
PaymentStatus           0
PaymentDate          1279
FormulaID               0
GrossFormulaPrice       0
NetFormulaPrice         0
NetNewspaperPrice       0
ProductDiscount         0
FormulaDiscount         0
TotalDiscount           0
TotalPrice              0
TotalCredit             0
FormulaCode             0
FormulaType          4726
Duration                0
Gender                837
DOB                     0
District                0
ZIP                     0
StreeID                 0
Start_Year              0
Churn                   0
dtype: int64

In [923]:
## Categorical Variables :--

In [ ]:
# Missing Value Treatment--

In [924]:
basetable['Gender']=basetable['Gender'].fillna("Cannot Tell")

In [925]:
basetable['FormulaType']=basetable['FormulaType'].fillna("Cannot Tell")

In [926]:
# Dummy creation--

In [927]:
gender=pd.get_dummies(basetable['Gender']).add_prefix("Gender_")

In [928]:
payment_type=pd.get_dummies(basetable['PaymentType']).add_prefix("PaymentType_")

In [929]:
payment_status=pd.get_dummies(basetable['PaymentStatus']).add_prefix("PaymentStatus_")

In [930]:
formula_type=pd.get_dummies(basetable['FormulaType']).add_prefix("FormulaType_")

In [931]:
## Finalising BaseTable :--

In [932]:
basetable_new=pd.concat([basetable,gender,payment_type,payment_status,formula_type],axis=1)

In [934]:
basetable_final=basetable_new.select_dtypes(["int64","float64","int32","uint8"])

In [935]:
basetable_final.dtypes

SubscriptionID               int64
CustomerID                   int64
ProductID                    int64
Pattern                      int64
NbrNewspapers                int64
NbrStart                   float64
FormulaID                  float64
GrossFormulaPrice          float64
NetFormulaPrice            float64
NetNewspaperPrice          float64
ProductDiscount            float64
FormulaDiscount            float64
TotalDiscount              float64
TotalPrice                 float64
TotalCredit                float64
FormulaCode                float64
Duration                   float64
District                     int64
ZIP                          int64
StreeID                      int64
Start_Year                   int64
Churn                        int32
Gender_Cannot Tell           uint8
Gender_F                     uint8
Gender_M                     uint8
PaymentType_BT               uint8
PaymentType_Cannot_tell      uint8
PaymentType_DD               uint8
PaymentStatus_NotPaid        uint8
PaymentStatus_Paid           uint8
FormulaType_CAM              uint8
FormulaType_Cannot Tell      uint8
FormulaType_REG              uint8
dtype: object

In [936]:
# Creating Multi-Index --

In [937]:
basetable_final=basetable_final.set_index(["SubscriptionID","CustomerID","ProductID"])

In [1003]:
basetable_final.head()

                                     Pattern  NbrNewspapers  NbrStart  \
SubscriptionID CustomerID ProductID
1000024        1150045    8          1111110             76      25.0
                          8          1111110             76      25.0
                          8          1111110             76      25.0
1000082        1150046    8          1111110             50      25.0
100012         89085      8          1111110            304      10.0

                                     FormulaID  GrossFormulaPrice  \
SubscriptionID CustomerID ProductID
1000024        1150045    8             8552.0             79.000
                          8             8552.0             79.000
                          8             8552.0             79.000
1000082        1150046    8            10017.0            519.737
100012         89085      8              875.0            249.000

                                     NetFormulaPrice  NetNewspaperPrice  \
SubscriptionID CustomerID ProductID
1000024        1150045    8                     79.0           0.000000
                          8                     79.0           0.000000
                          8                     79.0           0.000000
1000082        1150046    8                     29.6           0.592000
100012         89085      8                    249.0           0.811842

                                     ProductDiscount  FormulaDiscount  \
SubscriptionID CustomerID ProductID
1000024        1150045    8                      0.0            0.000
                          8                      0.0            0.000
                          8                      0.0            0.000
1000082        1150046    8                      0.0          223.737
100012         89085      8                      0.0            0.000

                                     TotalDiscount  ...  Gender_F  Gender_M  \
SubscriptionID CustomerID ProductID                 ...
1000024        1150045    8                  0.000  ...         0         1
                          8                  0.000  ...         0         1
                          8                  0.000  ...         0         1
1000082        1150046    8                223.737  ...         1         0
100012         89085      8                  0.000  ...         0         1

                                     PaymentType_BT  PaymentType_Cannot_tell  \
SubscriptionID CustomerID ProductID
1000024        1150045    8                       1                        0
                          8                       1                        0
                          8                       1                        0
1000082        1150046    8                       1                        0
100012         89085      8                       1                        0

                                     PaymentType_DD  PaymentStatus_NotPaid  \
SubscriptionID CustomerID ProductID
1000024        1150045    8                       0                      0
                          8                       0                      0
                          8                       0                      0
1000082        1150046    8                       0                      0
100012         89085      8                       0                      0

                                     PaymentStatus_Paid  FormulaType_CAM  \
SubscriptionID CustomerID ProductID
1000024        1150045    8                           1                0
                          8                           1                0
                          8                           1                0
1000082        1150046    8                           1                1
100012         89085      8                           1                0

                                     FormulaType_Cannot Tell  FormulaType_REG
SubscriptionID CustomerID ProductID
1000024        1150045    8                                0                1
                          8                                0                1
                          8                                0                1
1000082        1150046    8                                0                0
100012         89085      8                                0                1

[5 rows x 30 columns]

In [938]:
## Standardizing the data :--

In [943]:
sc=StandardScaler()

In [944]:
b_scale=sc.fit_transform(basetable_final)

In [945]:
var_ratio={}
bc = PCA(n_components=15)
b_pca=bc.fit(b_scale)
var_ratio[""]=sum(b_pca.explained_variance_ratio_)

In [946]:
var_ratio

{'': 0.9358675003617007}

In [ ]:
# Here 15 components are representing 93 percent of data

In [947]:
## Building Models :--

In [948]:
basetable_final["Start_Year"].min()

2006

In [949]:
basetable_final["Start_Year"].max()

2010

In [950]:
train=basetable_final[basetable_final["Start_Year"]<2009]

In [951]:
validation=basetable_final[basetable_final["Start_Year"]==2009]

In [952]:
test=basetable_final[basetable_final["Start_Year"]>2009]

In [953]:
x_train = train.drop(['Churn'], axis=1)

In [954]:
y_train = train["Churn"]

In [955]:
x_validation = validation.drop(['Churn'], axis=1)

In [956]:
y_validation = validation["Churn"]

In [957]:
x_test = test.drop(['Churn'], axis=1)

In [958]:
y_test = test["Churn"]

In [959]:
# Logistic Regression--

In [960]:
lr=LogisticRegression()

In [961]:
lr.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [962]:
lr_train=accuracy_score(lr.predict(x_train), y_train)*100
lr_train

99.15726518961533

In [963]:
lr_validation=accuracy_score(lr.predict(x_validation), y_validation)*100
lr_validation

96.48943918426802

In [964]:
lr_test=accuracy_score(lr.predict(x_test), y_test)*100
lr_test

95.40589924301749

In [965]:
# Support Vector Machine (SVM)--

In [966]:
svm=SVC()

In [967]:
svm.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [968]:
svm_train=accuracy_score(svm.predict(x_train), y_train)*100
svm_train

100.0

In [969]:
svm_validation=accuracy_score(svm.predict(x_validation), y_validation)*100
svm_validation

96.27093954843409

In [970]:
svm_test=accuracy_score(svm.predict(x_test), y_test)*100
svm_test

89.35003915426782

In [971]:
# K-nearest Neighbours (KNN)--

In [972]:
knn=KNN(n_neighbors=5)

In [973]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [974]:
knn_train=accuracy_score(knn.predict(x_train), y_train)*100
knn_train

99.32037515291559

In [975]:
knn_validation=accuracy_score(knn.predict(x_validation), y_validation)*100
knn_validation

96.30007283321194

In [976]:
knn_test=accuracy_score(knn.predict(x_test), y_test)*100
knn_test

89.35003915426782

In [977]:
# Random Forest Regressor--

In [978]:
rf=RF()

In [979]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [980]:
rf_train=accuracy_score(rf.predict(x_train),y_train)*100
rf_train

99.98640750305832

In [981]:
rf_validation=accuracy_score(rf.predict(x_validation), y_validation)*100
rf_validation

99.12600145666424

In [982]:
rf_test=accuracy_score(rf.predict(x_test),y_test)*100
rf_test

96.71104150352389

In [983]:
## Here we used Logistic regression, SVM, KNN and Random Forest Regressor models for analysis on the data. Based on their 
## Validation and Test accuracy scores we would use Logistic Regression model for prediction

In [996]:
y_predict=lr.predict(x_test)

In [997]:
y_prob=lr.predict_proba(x_test)

In [998]:
y_prob=pd.DataFrame(y_prob)

In [999]:
y_prob=list(y_prob[1])

In [1000]:
final_new = pd.DataFrame({"Churn": y_predict,"Churn Probability":y_prob,"Start year": test["Start_Year"]})

In [1001]:
final_new

                                     Churn  Churn Probability  Start year
SubscriptionID CustomerID ProductID
1000024        1150045    8              1       9.963042e-01        2010
                          8              1       9.963042e-01        2010
                          8              1       9.963042e-01        2010
1000082        1150046    8              1       1.000000e+00        2010
1000566        309653     2              0       7.942676e-07        2010
...                                    ...                ...         ...
999050         1149771    3              1       8.790751e-01        2010
999529         457926     1              0       4.811219e-04        2010
999767         1149767    8              1       9.963569e-01        2010
999816         799724     8              1       1.000000e+00        2010
999837         788976     8              1       1.000000e+00        2010

[3831 rows x 3 columns]