In [ ]:
# 1. Import the customer data into python

In [1]:
import pandas as pd
import numpy as np

In [30]:
r=pd.read_csv("C:\\Users\\kaust\\Desktop\\Datasets\\dataset\\Customers.csv",encoding='latin-1')
r

,Customer ID,Gender,first Date,First_region,First_state,First_city,recent date,Last_region,Last_state,Last_city,Customer Value,buy times,Points earned,Points redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0

In [3]:
#2. Understand the data using different functions and attributes like shape, index, columns, dtypes.ndim, info(), 
#get_dtype_counts etc.

In [3]:
r.shape
r.index
r.columns
r.dtypes.ndim
r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Customer ID        10000 non-null int64
Gender             9986 non-null object
first Date         10000 non-null int64
First_region       9979 non-null object
First_state        9983 non-null object
First_city         10000 non-null object
recent date        10000 non-null int64
Last_region        10000 non-null object
Last_state         10000 non-null object
Last_city          10000 non-null object
Customer Value     9964 non-null float64
buy times          10000 non-null int64
Points earned      9979 non-null float64
Points redeemed    9988 non-null float64
dtypes: float64(3), int64(4), object(7)
memory usage: 1.1+ MB

In [ ]:
#3. What is percentage of missing values for customer Value variable?

In [4]:
((r["Customer Value"].isna().count()-r["Customer Value"].count())/r["Customer Value"].isna().count())*100

0.36

In [ ]:
#4. Create two subsets with unique and duplicate values.

In [8]:
r=r[r.duplicated(["First_region","First_state","First_city"])]
print(r)
r=r[r.unique(["First_region","First_state","First_city"])]
print(r)

      Customer ID   Gender  first Date First_region     First_state  \
12       74053888        F    20120102         West         Gujarat
26       12935950        M    20120113         West         Gujarat
29        7514232        M    20120114        North           Delhi
30         328670        M    20120115        North           Delhi
32       36292837        M    20120118         West         Gujarat
35       73792250        M    20120128         West         Gujarat
37       73957360        M    20120129         West         Gujarat
43          93630        M    20120208         West         Gujarat
44       85323066        F    20120208         West     Maharashtra
46       49886011        F    20120208         West     Maharashtra
47       84435316        M    20120209         West         Gujarat
48       92835926        F    20120211         West         Gujarat
50       85613515        M    20120213         West         Gujarat
51      113434554        M    20120218         West     Maharashtra
55        6898330        F    20120227         West         Gujarat
56        6192202        M    20120228        North           Delhi
57      113932157        F    20120302         West         Gujarat
58        1747708        F    20120303        South       Karnataka
59        2780625        M    20120303         West         Gujarat
60        8346775        M    20120302         West         Gujarat
61       42389150        M    20120305         West     Maharashtra
62      114135637        M    20120318        North           Delhi
63      114861255        F    20120316        North           Delhi
65       85618136        F    20120317        North           Delhi
67      115157510  unknown    20120323        North   Uttar Pradesh
68         779024        M    20120324         West         Gujarat
71      115283968        M    20120402         West         Gujarat
72       50370603        F    20120411         West         Gujarat
73      115750273        M    20120412        North   Uttar Pradesh
74      115780403        F    20120414        North   Uttar Pradesh
...           ...      ...         ...          ...             ...
9970      5599557        F    20120115         West         Gujarat
9971      7956527        F    20120115        North           Delhi
9972     10184222        M    20120116        North   Uttar Pradesh
9973     88092811        M    20120116         West         Gujarat
9974     84750517        F    20120119         West         Gujarat
9975      5686217        M    20120118         West     Maharashtra
9976     63669926        M    20120118        South       Telangana
9977     90964885        M    20120121         West         Gujarat
9978     87989417        M    20120127         West         Gujarat
9979      6005239        M    20120129         East     West Bengal
9980     91066310        M    20120130         West         Gujarat
9981       414338        M    20120131         West         Gujarat
9982      9144258        M    20120130        South      Tamil Nadu
9983     91076263        F    20120130         East     West Bengal
9984     85012902        M    20120201         West         Gujarat
9985     14762484        M    20120131        North  Madhya Pradesh
9986     69453769        M    20120201        South      Tamil Nadu
9987      7060195        M    20120202         West         Gujarat
9988     91095093        M    20120201        South       Telangana
9989     91098168        M    20120201        South      Tamil Nadu
9990     91227615        M    20120203         West         Gujarat
9991     91136028        M    20120203         West     Maharashtra
9992       794622        F    20120203         West         Gujarat
9993     91289992        M    20120205         West     Maharashtra
9994     73876936        M    20120205         West         Gujarat
9995     50093138        M    20120208        North   Uttar Pradesh
9996     92763145        M    20120209        South       Telangana
9997     73839417        M    20120210        South       Karnataka
9998     69606859        M    20120215        North   Uttar Pradesh
9999    113292109        M    20120217         West     Maharashtra

            First_city  recent date Last_region      Last_state  \
12               Surat     20130314        West         Gujarat
26               Surat     20120623        West         Gujarat
29               Delhi     20130108       North           Delhi
30               Delhi     20130302       North           Delhi
32               Surat     20130313        West         Gujarat
35               Surat     20130305        West         Gujarat
37               Surat     20130306        West         Gujarat
43               Surat     20130202        West         Gujarat
44              Mumbai     20130202        West     Maharashtra
46              Mumbai     20120518       South       Karnataka
47               Surat     20130329        West         Gujarat
48               Surat     20120211        West         Gujarat
50               Surat     20130312        West         Gujarat
51              Nagpur     20120218        West     Maharashtra
55               Surat     20130308        West         Gujarat
56               Delhi     20121005       North           Delhi
57               Surat     20130201        West         Gujarat
58           Bangalore     20130324       North  Madhya Pradesh
59               Surat     20130124        West         Gujarat
60               Surat     20130318        West         Gujarat
61              Nagpur     20120305        West     Maharashtra
62               Delhi     20121202        East     West Bengal
63               Delhi     20121228       North           Delhi
65               Delhi     20130324       North           Delhi
67              Kanpur     20120803       North   Uttar Pradesh
68               Surat     20130314        West         Gujarat
71               Surat     20130328       South       Karnataka
72               Surat     20130118        West         Gujarat
73              Kanpur     20130323       North   Uttar Pradesh
74              Kanpur     20130122       North   Uttar Pradesh
...                ...          ...         ...             ...
9970            Rajkot     20130330        West         Gujarat
9971             Delhi     20130222       North           Delhi
9972            Kanpur     20121014       North   Uttar Pradesh
9973             Surat     20130222        West         Gujarat
9974             Surat     20130319        West         Gujarat
9975             Thane     20120524        West         Gujarat
9976         Hyderabad     20130114       South       Telangana
9977             Surat     20120121        West         Gujarat
9978             Surat     20120127        West         Gujarat
9979           Kolkata     20121127       South       Telangana
9980             Surat     20130312        West         Gujarat
9981             Surat     20120131        West         Gujarat
9982           Chennai     20130313        West     Maharashtra
9983           Kolkata     20130310        East     West Bengal
9984             Surat     20130310        West         Gujarat
9985            Indore     20121211       North  Madhya Pradesh
9986           Chennai     20120201       South      Tamil Nadu
9987         Ahmedabad     20130328        West         Gujarat
9988         Hyderabad     20120201       South       Telangana
9989           Chennai     20120201       South      Tamil Nadu
9990             Surat     20120203        West         Gujarat
9991            Mumbai     20120523       South       Karnataka
9992             Surat     20120508        West         Gujarat
9993  Pimpri-Chinchwad     20120205        West     Maharashtra
9994             Surat     20130218        West         Gujarat
9995              Agra     20121114       North   Uttar Pradesh
9996         Hyderabad     20130319       South       Telangana
9997         Bangalore     20130216       South       Karnataka
9998           Lucknow     20120215       North   Uttar Pradesh
9999            Mumbai     20120217        West     Maharashtra

             Last_city  Customer Value  buy times  Points earned  \
12               Surat      9142.49700         10          639.0
26           Ahmedabad     18358.00000          6          874.0
29               Delhi     51692.99900         29         4275.0
30               Delhi     10547.79600         11          574.0
32               Surat     18412.20000         19          158.0
35               Surat     29460.00000          6         2440.0
37               Surat     28291.29800         29          225.0
43               Surat     11148.00000          7          960.0
44              Mumbai     41852.79800         16         1453.0
46           Bangalore     15092.80000          5         1381.0
47               Surat      8511.00000          6          729.0
48               Surat      1298.90000          1           35.0
50               Surat     37192.00100         13         1837.0
51              Nagpur      1485.00000          1           10.0
55               Surat     20211.90000         17         1205.0
56               Delhi      7620.00000          7          397.0
57               Surat     32085.69800         16          537.0
58              Indore     18881.78574         14          588.0
59               Surat     16471.90100          9          555.0
60               Surat      8887.00000          4          615.0
61              Nagpur      1336.00000          1          165.0
62              Howrah     14522.90000          6          151.0
63               Delhi      9848.40200          8          489.0
65               Delhi      5426.00000          5          370.0
67              Kanpur      1962.00000          3          125.0
68               Surat     18748.80100          7          776.0
71           Bangalore     11367.00100         13          342.0
72               Surat      3351.00000          2          177.0
73              Kanpur     15180.90000         10          905.0
74              Kanpur       295.00000          2           25.0
...                ...             ...        ...            ...
9970            Rajkot     74662.77636         36           22.0
9971             Delhi     66082.19900         37         2385.0
9972            Kanpur      2031.00100          2          215.0
9973             Surat     14786.60000         12          337.0
9974             Surat     20696.90000         11         1935.0
9975             Surat     16858.09900         11          915.0
9976         Hyderabad     12863.00000          4         1030.0
9977             Surat       198.00000          1            0.0
9978             Surat       929.99900          1           50.0
9979         Hyderabad     12246.80000          6          600.0
9980             Surat     11723.00000         10          475.0
9981             Surat      1080.00000          1            0.0
9982            Mumbai     42195.09900         23         4441.0
9983           Kolkata     34492.90100         14         1591.0
9984             Surat     30123.30000          9         1555.0
9985            Bhopal     88407.50000         23         4317.0
9986           Chennai       480.00000          1           10.0
9987         Ahmedabad      6693.20000          3          645.0
9988         Hyderabad       825.99700          1           55.0
9989           Chennai       408.00000          1            0.0
9990             Surat       617.00000          1           35.0
9991         Bangalore      4383.80100          5           10.0
9992             Surat      8081.00000          4          594.0
9993  Pimpri-Chinchwad      1069.00000          1           81.0
9994             Surat      8059.59900          5          647.0
9995              Agra     13818.60000          7         1195.0
9996         Hyderabad     13016.50000          7          870.0
9997         Bangalore     44057.90000         11         2242.0
9998           Lucknow      1116.00000          1            0.0
9999            Mumbai      1222.00000          1           60.0

      Points redeemed
12                2.0
26                0.0
29               12.0
30             2120.0
32             1260.0
35                0.0
37             1886.0
43                0.0
44              415.0
46                0.0
47                0.0
48                0.0
50              540.0
51                0.0
55                0.0
56                0.0
57             2401.0
58             2481.0
59                0.0
60                0.0
61                0.0
62              600.0
63                0.0
65                0.0
67                0.0
68             1484.0
71              200.0
72                0.0
73                0.0
74                0.0
...               ...
9970          10472.0
9971          13520.0
9972              0.0
9973            300.0
9974              0.0
9975              0.0
9976              0.0
9977              0.0
9978              0.0
9979              0.0
9980              0.0
9981              0.0
9982              0.0
9983              0.0
9984              0.0
9985              0.0
9986            580.0
9987              0.0
9988              0.0
9989              0.0
9990              0.0
9991            370.0
9992              0.0
9993              0.0
9994              0.0
9995           1800.0
9996              0.0
9997            585.0
9998            310.0
9999              0.0

[9762 rows x 14 columns]

AttributeError: 'DataFrame' object has no attribute 'unique'

In [ ]:
#5. Create data set with list of customers whose customer value greater than 10000.

In [9]:
r[(r["Customer Value"] >10000)]

,Customer ID,Gender,first Date,First_region,First_state,First_city,recent date,Last_region,Last_state,Last_city,Customer Value,buy times,Points earned,Points redeemed
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
30,328670,M,20120115,North,Delhi,Delhi,20130302,North,Delhi,Delhi,10547.79600,11,574.0,2120.0
32,36292837,M,20120118,West,Gujarat,Surat,20130313,West,Gujarat,Surat,18412.20000,19,158.0,1260.0
35,73792250,M,20120128,West,Gujarat,Surat,20130305,West,Gujarat,Surat,29460.00000,6,2440.0,0.0
37,73957360,M,20120129,West,Gujarat,Surat,20130306,West,Gujarat,Surat,28291.29800,29,225.0,1886.0
43,93630,M,20120208,West,Gujarat,Surat,20130202,West,Gujarat,Surat,11148.00000,7,960.0,0.0
44,85323066,F,20120208,West,Maharashtra,Mumbai,20130202,West,Maharashtra,Mumbai,41852.79800,16,1453.0,415.0
46,49886011,F,20120208,West,Maharashtra,Mumbai,20120518,South,Karnataka,Bangalore,15092.80000,5,1381.0,0.0
50,85613515,M,20120213,West,Gujarat,Surat,20130312,West,Gujarat,Surat,37192.00100,13,1837.0,540.0
55,6898330,F,20120227,West,Gujarat,Surat,20130308,West,Gujarat,Surat,20211.90000,17,1205.0,0.0
57,113932157,F,20120302,West,Gujarat,Surat,20130201,West,Gujarat,Surat,32085.69800,16,537.0,2401.0
58,1747708,F,20120303,South,Karnataka,Bangalore,20130324,North,Madhya Pradesh,Indore,18881.78574,14,588.0,2481.0
59,2780625,M,20120303,West,Gujarat,Surat,20130124,West,Gujarat,Surat,16471.90100,9,555.0,0.0
62,114135637,M,20120318,North,Delhi,Delhi,20121202,East,West Bengal,Howrah,14522.90000,6,151.0,600.0
68,779024,M,20120324,West,Gujarat,Surat,20130314,West,Gujarat,Surat,18748.80100,7,776.0,1484.0
71,115283968,M,20120402,West,Gujarat,Surat,20130328,South,Karnataka,Bangalore,11367.00100,13,342.0,200.0
73,115750273,M,20120412,North,Uttar Pradesh,Kanpur,20130323,North,Uttar Pradesh,Kanpur,15180.90000,10,905.0,0.0
77,42042549,M,20120420,East,West Bengal,Kolkata,20120914,East,West Bengal,Kolkata,15377.00000,6,1860.0,0.0
78,74230259,F,20120424,North,Delhi,Delhi,20130314,West,Gujarat,Surat,13071.40000,9,1536.0,0.0
85,116746846,F,20120514,North,Uttar Pradesh,Kanpur,20121213,North,Uttar Pradesh,Kanpur,18257.00000,8,990.0,0.0
94,7305524,M,20120604,West,Gujarat,Ahmedabad,20120617,West,Gujarat,Ahmedabad,29960.00000,12,514.0,0.0
97,5151002,M,20120612,West,Maharashtra,Mumbai,20130304,West,Maharashtra,Mumbai,19067.70000,11,1110.0,0.0
107,168347,M,20120711,West,Gujarat,Surat,20130325,West,Gujarat,Surat,75539.99900,5,4570.0,0.0
115,119624622,unknown,20120731,South,Karnataka,Bangalore,20120731,South,Karnataka,Bangalore,40980.00000,1,10.0,0.0
116,119796345,unknown,20120803,East,West Bengal,Kolkata,20120813,East,West Bengal,Kolkata,14770.00000,2,12.0,0.0
123,7886746,M,20120818,East,West Bengal,Kolkata,20130308,East,West Bengal,Kolkata,12654.10100,8,901.0,0.0
128,568655,M,20120910,South,Tamil Nadu,Chennai,20130221,South,Tamil Nadu,Chennai,21015.50000,14,967.0,33.0
136,122495192,unknown,20120929,West,Maharashtra,Pimpri-Chinchwad,20130327,West,Maharashtra,Nagpur,30001.00000,19,1709.0,0.0
146,123513037,M,20121031,South,Telangana,Hyderabad,20130321,South,Telangana,Hyderabad,23066.80000,10,945.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9937,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9938,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9939,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9942,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0

In [13]:
#6. In customer table, create a new variable called “customer value segment” using customer value as follows. -  
#- High Value Segment - > 25000  
#- Medium Value Segment – Between 10000 and 25000  
#- Low Value Segment – less than or equal to 10000

In [13]:
x=r[(r["Customer Value"]>25000)]

In [14]:
x

,Customer ID,Gender,first Date,First_region,First_state,First_city,recent date,Last_region,Last_state,Last_city,Customer Value,buy times,Points earned,Points redeemed
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
35,73792250,M,20120128,West,Gujarat,Surat,20130305,West,Gujarat,Surat,29460.00000,6,2440.0,0.0
37,73957360,M,20120129,West,Gujarat,Surat,20130306,West,Gujarat,Surat,28291.29800,29,225.0,1886.0
44,85323066,F,20120208,West,Maharashtra,Mumbai,20130202,West,Maharashtra,Mumbai,41852.79800,16,1453.0,415.0
50,85613515,M,20120213,West,Gujarat,Surat,20130312,West,Gujarat,Surat,37192.00100,13,1837.0,540.0
57,113932157,F,20120302,West,Gujarat,Surat,20130201,West,Gujarat,Surat,32085.69800,16,537.0,2401.0
94,7305524,M,20120604,West,Gujarat,Ahmedabad,20120617,West,Gujarat,Ahmedabad,29960.00000,12,514.0,0.0
107,168347,M,20120711,West,Gujarat,Surat,20130325,West,Gujarat,Surat,75539.99900,5,4570.0,0.0
115,119624622,unknown,20120731,South,Karnataka,Bangalore,20120731,South,Karnataka,Bangalore,40980.00000,1,10.0,0.0
136,122495192,unknown,20120929,West,Maharashtra,Pimpri-Chinchwad,20130327,West,Maharashtra,Nagpur,30001.00000,19,1709.0,0.0
170,129196221,M,20130122,West,Gujarat,Surat,20130122,West,Gujarat,Surat,175560.00000,1,17522.0,0.0
199,65529409,NaN,20120105,NaN,West Bengal,Kolkata,20130217,East,West Bengal,Kolkata,25100.29900,12,NaN,0.0
210,10121652,NaN,20120115,West,Gujarat,Surat,20130301,West,Gujarat,Surat,32623.99900,21,NaN,0.0
250,115857532,unknown,20120423,North,Madhya Pradesh,Indore,20130119,North,Madhya Pradesh,Indore,34809.60000,19,2219.0,NaN
254,84437996,M,20120429,West,Gujarat,Surat,20120429,West,Gujarat,Surat,28880.00000,1,210.0,NaN
260,117256988,unknown,20120602,West,Maharashtra,Mumbai,20120703,West,Maharashtra,Mumbai,101450.00000,5,0.0,0.0
281,8162054,M,20120725,West,Gujarat,Ahmedabad,20130304,West,Gujarat,Ahmedabad,39908.19900,6,1945.0,0.0
284,119855641,unknown,20120804,North,Madhya Pradesh,Bhopal,20130220,East,West Bengal,Kolkata,28234.99900,9,1815.0,0.0
295,121102512,F,20120902,West,Gujarat,Vadodara,20130207,West,Gujarat,Vadodara,27617.80000,9,1565.0,0.0
320,44914291,M,20121117,North,Rajasthan,Jaipur,20130328,North,Rajasthan,Jaipur,153893.49760,32,136.0,9550.0
332,126778507,M,20121213,North,Uttar Pradesh,Kanpur,20130331,North,Uttar Pradesh,Kanpur,25612.60100,22,780.0,0.0
339,127558757,M,20121223,North,Madhya Pradesh,Indore,20130205,East,Jharkhand,Dhanbad,35317.30000,4,565.0,0.0
369,85473185,M,20120102,South,Tamil Nadu,Chennai,20130322,South,Tamil Nadu,Chennai,40592.70000,25,1245.0,400.0
371,827626,M,20120102,North,Delhi,Delhi,20130227,North,Delhi,Delhi,32493.59900,23,2870.0,0.0
372,44855742,M,20120102,South,Tamil Nadu,Chennai,20130219,North,Uttar Pradesh,Agra,29361.80100,23,905.0,940.0
376,12651825,F,20120106,South,Karnataka,Bangalore,20130319,South,Karnataka,Bangalore,126647.39700,85,639.0,22470.0
378,85457040,M,20120109,West,Gujarat,Surat,20120707,West,Gujarat,Surat,577390.00000,4,0.0,0.0
381,1701730,F,20120111,North,Delhi,Delhi,20120617,North,Delhi,Delhi,27129.70000,5,1550.0,0.0
383,6376497,F,20120112,West,Gujarat,Rajkot,20130324,West,Gujarat,Rajkot,52011.10000,21,3760.0,25.0
389,49914733,F,20120116,West,Gujarat,Ahmedabad,20130321,West,Gujarat,Rajkot,68648.20000,35,4497.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9796,9612320,M,20120114,North,Delhi,Delhi,20130321,North,Delhi,Delhi,67131.79900,21,5525.0,0.0
9799,113933467,M,20120118,West,Maharashtra,Pimpri-Chinchwad,20130327,West,Maharashtra,Pimpri-Chinchwad,59903.09900,41,3100.0,30.0
9800,41337621,M,20120121,North,Uttar Pradesh,Kanpur,20130227,North,Uttar Pradesh,Kanpur,55170.30000,18,1006.0,5651.0
9812,115409564,M,20120216,West,Gujarat,Surat,20130321,South,Tamil Nadu,Chennai,90550.54700,18,928.0,16156.0
9815,115493573,F,20120220,West,Gujarat,Surat,20130306,West,Gujarat,Surat,114311.79900,31,5050.0,2355.0
9816,84439029,M,20120221,West,Maharashtra,Nagpur,20130327,West,Maharashtra,Nagpur,49248.69700,28,1720.0,840.0
9818,113933467,F,20120226,South,Tamil Nadu,Chennai,20130312,East,Bihar,Patna,68863.60100,19,3374.0,0.0
9825,114908563,F,20120318,West,Gujarat,Vadodara,20130327,West,Gujarat,Vadodara,34001.64287,22,198.0,1209.0
9844,116239013,unknown,20120503,South,Telangana,Hyderabad,20130327,South,Telangana,Hyderabad,59786.63013,26,543.0,4472.0
9850,117256984,unknown,20120602,West,Maharashtra,Mumbai,20120703,West,Maharashtra,Mumbai,101450.00000,5,0.0,0.0
9854,117857991,M,20120622,South,Tamil Nadu,Ambattur,20130310,South,Kerala,Kollam,28368.50200,17,285.0,140.0
9872,120037969,unknown,20120809,West,Gujarat,Surat,20120809,West,Gujarat,Surat,30590.00000,1,65.0,0.0
9880,121031866,unknown,20120831,West,Gujarat,Surat,20130316,West,Gujarat,Surat,34405.20000,10,2310.0,0.0
9881,121078369,unknown,20120902,East,West Bengal,Kolkata,20130316,East,West Bengal,Kolkata,51324.10000,8,3077.0,0.0
9888,121957696,unknown,20120919,North,Uttar Pradesh,Kanpur,20120919,North,Uttar Pradesh,Kanpur,60600.00000,1,1050.0,0.0
9892,122066545,unknown,20121002,West,Maharashtra,Nashik,20130218,West,Gujarat,Surat,30326.90100,12,1750.0,0.0
9895,122399400,unknown,20121010,West,Gujarat,Surat,20130316,West,Gujarat,Surat,26277.20100,14,1970.0,0.0
9932,129739539,F,20130131,West,Maharashtra,Pimpri-Chinchwad,20130225,West,Maharashtra,Pimpri-Chinchwad,59748.00000,2,124.0,10456.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0

In [15]:
y=r[(r["Customer Value"]>10000) & (r["Customer Value"]<25000)]

In [16]:
y

,Customer ID,Gender,first Date,First_region,First_state,First_city,recent date,Last_region,Last_state,Last_city,Customer Value,buy times,Points earned,Points redeemed
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
30,328670,M,20120115,North,Delhi,Delhi,20130302,North,Delhi,Delhi,10547.79600,11,574.0,2120.0
32,36292837,M,20120118,West,Gujarat,Surat,20130313,West,Gujarat,Surat,18412.20000,19,158.0,1260.0
43,93630,M,20120208,West,Gujarat,Surat,20130202,West,Gujarat,Surat,11148.00000,7,960.0,0.0
46,49886011,F,20120208,West,Maharashtra,Mumbai,20120518,South,Karnataka,Bangalore,15092.80000,5,1381.0,0.0
55,6898330,F,20120227,West,Gujarat,Surat,20130308,West,Gujarat,Surat,20211.90000,17,1205.0,0.0
58,1747708,F,20120303,South,Karnataka,Bangalore,20130324,North,Madhya Pradesh,Indore,18881.78574,14,588.0,2481.0
59,2780625,M,20120303,West,Gujarat,Surat,20130124,West,Gujarat,Surat,16471.90100,9,555.0,0.0
62,114135637,M,20120318,North,Delhi,Delhi,20121202,East,West Bengal,Howrah,14522.90000,6,151.0,600.0
68,779024,M,20120324,West,Gujarat,Surat,20130314,West,Gujarat,Surat,18748.80100,7,776.0,1484.0
71,115283968,M,20120402,West,Gujarat,Surat,20130328,South,Karnataka,Bangalore,11367.00100,13,342.0,200.0
73,115750273,M,20120412,North,Uttar Pradesh,Kanpur,20130323,North,Uttar Pradesh,Kanpur,15180.90000,10,905.0,0.0
77,42042549,M,20120420,East,West Bengal,Kolkata,20120914,East,West Bengal,Kolkata,15377.00000,6,1860.0,0.0
78,74230259,F,20120424,North,Delhi,Delhi,20130314,West,Gujarat,Surat,13071.40000,9,1536.0,0.0
85,116746846,F,20120514,North,Uttar Pradesh,Kanpur,20121213,North,Uttar Pradesh,Kanpur,18257.00000,8,990.0,0.0
97,5151002,M,20120612,West,Maharashtra,Mumbai,20130304,West,Maharashtra,Mumbai,19067.70000,11,1110.0,0.0
116,119796345,unknown,20120803,East,West Bengal,Kolkata,20120813,East,West Bengal,Kolkata,14770.00000,2,12.0,0.0
123,7886746,M,20120818,East,West Bengal,Kolkata,20130308,East,West Bengal,Kolkata,12654.10100,8,901.0,0.0
128,568655,M,20120910,South,Tamil Nadu,Chennai,20130221,South,Tamil Nadu,Chennai,21015.50000,14,967.0,33.0
146,123513037,M,20121031,South,Telangana,Hyderabad,20130321,South,Telangana,Hyderabad,23066.80000,10,945.0,0.0
163,127197260,F,20121218,West,Maharashtra,Mumbai,20130328,West,Maharashtra,Mumbai,13048.20000,8,915.0,0.0
165,116350234,F,20121225,North,Delhi,Delhi,20130327,West,Gujarat,Surat,11779.79800,6,465.0,0.0
166,127823426,M,20121226,South,Tamil Nadu,Chennai,20130330,South,Tamil Nadu,Chennai,17512.90000,9,1107.0,0.0
167,127915278,M,20121227,West,Gujarat,Surat,20130217,West,Gujarat,Surat,11024.00000,8,664.0,0.0
174,1607037,M,20130216,South,Telangana,Hyderabad,20130305,South,Telangana,Hyderabad,17090.00000,2,80.0,0.0
209,88052493,NaN,20120114,NaN,Uttar Pradesh,Kanpur,20121125,North,Delhi,Delhi,14169.20000,7,NaN,0.0
256,116853781,unknown,20120520,North,Uttar Pradesh,Kanpur,20130320,North,Uttar Pradesh,Kanpur,13563.00000,4,205.0,0.0
261,14769867,M,20120612,West,Gujarat,Surat,20130110,West,Gujarat,Surat,12361.00000,7,1003.0,0.0
265,117630377,M,20120615,West,Maharashtra,Mumbai,20121028,South,Kerala,Kozhikode,10763.00000,5,30.0,0.0
275,118568962,M,20120709,East,West Bengal,Kolkata,20130322,East,West Bengal,Kolkata,15379.00000,11,1181.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9836,7420743,F,20120410,North,Uttar Pradesh,Kanpur,20130314,North,Uttar Pradesh,Kanpur,23494.39500,12,1539.0,0.0
9851,35837321,F,20120603,South,Tamil Nadu,Chennai,20130314,South,Tamil Nadu,Chennai,20663.30000,6,905.0,0.0
9855,10967953,M,20120627,South,Karnataka,Bangalore,20121114,South,Karnataka,Bangalore,10058.80000,4,515.0,0.0
9856,85181772,M,20120629,East,West Bengal,Kolkata,20130313,West,Maharashtra,Mumbai,11414.00000,4,755.0,0.0
9865,91138066,F,20120718,West,Maharashtra,Pimpri-Chinchwad,20130326,West,Maharashtra,Pimpri-Chinchwad,18181.36428,14,183.0,5120.0
9867,14695407,M,20120720,West,Gujarat,Ahmedabad,20130314,West,Gujarat,Surat,19014.20000,6,1585.0,0.0
9877,120448863,unknown,20120818,North,Delhi,Delhi,20130316,North,Delhi,Delhi,13072.10000,8,870.0,0.0
9889,6575640,M,20120925,West,Gujarat,Surat,20130103,West,Gujarat,Surat,11668.80000,3,120.0,0.0
9910,124903776,F,20121114,West,Gujarat,Surat,20130312,West,Gujarat,Surat,18169.80000,8,263.0,12.0
9911,2128866,F,20121116,North,Madhya Pradesh,Bhopal,20130313,North,Madhya Pradesh,Bhopal,12699.00000,6,847.0,0.0
9920,124949123,unknown,20130101,West,Maharashtra,Pimpri-Chinchwad,20130303,West,Maharashtra,Pimpri-Chinchwad,11571.00000,5,655.0,0.0
9936,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9937,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9938,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9939,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9942,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0

In [17]:
z=y=r[(r["Customer Value"]<=10000)]

In [18]:
z

,Customer ID,Gender,first Date,First_region,First_state,First_city,recent date,Last_region,Last_state,Last_city,Customer Value,buy times,Points earned,Points redeemed
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.497,10,639.0,2.0
47,84435316,M,20120209,West,Gujarat,Surat,20130329,West,Gujarat,Surat,8511.000,6,729.0,0.0
48,92835926,F,20120211,West,Gujarat,Surat,20120211,West,Gujarat,Surat,1298.900,1,35.0,0.0
51,113434554,M,20120218,West,Maharashtra,Nagpur,20120218,West,Maharashtra,Nagpur,1485.000,1,10.0,0.0
56,6192202,M,20120228,North,Delhi,Delhi,20121005,North,Delhi,Delhi,7620.000,7,397.0,0.0
60,8346775,M,20120302,West,Gujarat,Surat,20130318,West,Gujarat,Surat,8887.000,4,615.0,0.0
61,42389150,M,20120305,West,Maharashtra,Nagpur,20120305,West,Maharashtra,Nagpur,1336.000,1,165.0,0.0
63,114861255,F,20120316,North,Delhi,Delhi,20121228,North,Delhi,Delhi,9848.402,8,489.0,0.0
65,85618136,F,20120317,North,Delhi,Delhi,20130324,North,Delhi,Delhi,5426.000,5,370.0,0.0
67,115157510,unknown,20120323,North,Uttar Pradesh,Kanpur,20120803,North,Uttar Pradesh,Kanpur,1962.000,3,125.0,0.0
72,50370603,F,20120411,West,Gujarat,Surat,20130118,West,Gujarat,Surat,3351.000,2,177.0,0.0
74,115780403,F,20120414,North,Uttar Pradesh,Kanpur,20130122,North,Uttar Pradesh,Kanpur,295.000,2,25.0,0.0
76,116005466,F,20120421,West,Maharashtra,Mumbai,20120421,West,Maharashtra,Mumbai,780.000,1,65.0,0.0
79,116266798,unknown,20120430,North,Uttar Pradesh,Kanpur,20120430,North,Uttar Pradesh,Kanpur,1031.000,1,70.0,0.0
80,42473567,M,20120504,West,Maharashtra,Nagpur,20120504,West,Maharashtra,Nagpur,1821.901,1,10.0,0.0
83,116497775,unknown,20120511,East,West Bengal,Kolkata,20120707,East,West Bengal,Kolkata,5122.000,3,270.0,0.0
84,63500201,M,20120511,West,Gujarat,Ahmedabad,20121123,West,Gujarat,Ahmedabad,2702.000,4,80.0,0.0
87,73122241,M,20120516,West,Gujarat,Ahmedabad,20120516,West,Gujarat,Ahmedabad,11.000,1,1.0,339.0
88,114099536,M,20120520,West,Maharashtra,Mumbai,20121125,West,Maharashtra,Mumbai,5103.198,4,100.0,0.0
90,117082270,M,20120528,West,Gujarat,Surat,20120528,West,Gujarat,Surat,1064.600,1,70.0,0.0
91,130047,M,20120529,North,Delhi,Delhi,20120530,North,Delhi,Delhi,3902.000,1,265.0,0.0
92,117246185,unknown,20120603,West,Gujarat,Surat,20120603,West,Gujarat,Surat,1006.000,1,10.0,0.0
96,117523262,M,20120611,North,Delhi,Delhi,20120625,North,Delhi,Delhi,2115.000,2,145.0,0.0
98,116651679,unknown,20120614,West,Gujarat,Surat,20120614,West,Gujarat,Surat,1059.600,1,50.0,0.0
100,117729782,M,20120619,North,Uttar Pradesh,Kanpur,20120619,North,Uttar Pradesh,Kanpur,1170.000,1,0.0,0.0
101,117777852,unknown,20120621,West,Gujarat,Ahmedabad,20130202,North,Madhya Pradesh,Bhopal,5793.600,6,330.0,0.0
104,118107567,M,20120701,West,Maharashtra,Mumbai,20120701,West,Maharashtra,Mumbai,23.000,1,5.0,0.0
105,118293911,F,20120704,West,Maharashtra,Mumbai,20120704,West,Maharashtra,Mumbai,4770.000,1,0.0,0.0
106,117739560,M,20120710,West,Gujarat,Ahmedabad,20120825,North,Delhi,Delhi,1905.000,2,95.0,0.0
108,118625903,unknown,20120710,East,West Bengal,Kolkata,20120710,East,West Bengal,Kolkata,1023.000,1,45.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9941,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.999,1,50.0,0.0
9944,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.000,1,0.0,0.0
9949,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.000,1,10.0,580.0
9950,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.200,3,645.0,0.0
9951,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.997,1,55.0,0.0
9952,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.000,1,0.0,0.0
9953,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.000,1,35.0,0.0
9954,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.801,5,10.0,370.0
9955,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.000,4,594.0,0.0
9956,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.000,1,81.0,0.0
9957,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.599,5,647.0,0.0
9961,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.000,1,0.0,310.0
9962,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.000,1,60.0,0.0
9963,5989720,F,20120109,North,Uttar Pradesh,Lucknow,20130221,North,Uttar Pradesh,Lucknow,5408.800,3,375.0,0.0
9965,86103480,M,20120112,West,Maharashtra,Mumbai,20120112,West,Maharashtra,Mumbai,408.000,1,0.0,0.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.001,2,215.0,0.0
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.000,1,0.0,0.0
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.999,1,50.0,0.0
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.000,1,0.0,0.0
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.000,1,10.0,580.0
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.200,3,645.0,0.0
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.997,1,55.0,0.0
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.000,1,0.0,0.0
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.000,1,35.0,0.0
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.801,5,10.0,370.0
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.000,4,594.0,0.0
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.000,1,81.0,0.0
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.599,5,647.0,0.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.000,1,0.0,310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.000,1,60.0,0.0

In [ ]:
#7. Create variables “average revenue per trip” and “balance points” in the customer data set.

In [19]:
avg=r["Customer Value"].mean()
avg

12270.878745767031

In [20]:
bal=r["Points earned"]+r["Points redeemed"]
bal

12        641.0
26        874.0
29       4287.0
30       2694.0
32       1418.0
35       2440.0
37       2111.0
43        960.0
44       1868.0
46       1381.0
47        729.0
48         35.0
50       2377.0
51         10.0
55       1205.0
56        397.0
57       2938.0
58       3069.0
59        555.0
60        615.0
61        165.0
62        751.0
63        489.0
65        370.0
67        125.0
68       2260.0
71        542.0
72        177.0
73        905.0
74         25.0
         ...
9970    10494.0
9971    15905.0
9972      215.0
9973      637.0
9974     1935.0
9975      915.0
9976     1030.0
9977        0.0
9978       50.0
9979      600.0
9980      475.0
9981        0.0
9982     4441.0
9983     1591.0
9984     1555.0
9985     4317.0
9986      590.0
9987      645.0
9988       55.0
9989        0.0
9990       35.0
9991      380.0
9992      594.0
9993       81.0
9994      647.0
9995     2995.0
9996      870.0
9997     2827.0
9998      310.0
9999       60.0
Length: 9762, dtype: float64

In [ ]:
#8. How many days between last purchase date and today?

In [40]:
#9. Calculate percentage of sales by each last city, state and region.

In [21]:
(r["Customer Value"]/(r["Customer Value"].sum())).groupby(r["Last_city"]).value_counts()

Last_city      Customer Value
Agartala       0.000012          1
               0.000101          1
Agra           0.000116          2
               0.000022          1
               0.000022          1
               0.000031          1
               0.000041          1
               0.000128          1
               0.000190          1
               0.000246          1
               0.000262          1
               0.000567          1
               0.001015          1
Ahmedabad      0.000005          2
               0.000006          2
               0.000007          2
               0.000009          2
               0.000009          2
               0.000010          2
               0.000010          2
               0.000010          2
               0.000011          2
               0.000012          2
               0.000012          2
               0.000013          2
               0.000014          2
               0.000023          2
               0.000026          2
               0.000036          2
               0.000040          2
                                ..
Visakhapatnam  0.000064          1
               0.000067          1
               0.000070          1
               0.000072          1
               0.000075          1
               0.000078          1
               0.000080          1
               0.000095          1
               0.000099          1
               0.000102          1
               0.000107          1
               0.000111          1
               0.000116          1
               0.000179          1
               0.000216          1
               0.000240          1
               0.000241          1
               0.000245          1
               0.000263          1
               0.000293          1
               0.000300          1
               0.000336          1
               0.000360          1
               0.000386          1
               0.000418          1
               0.000741          1
               0.000743          1
               0.002341          1
Vizianagaram   0.000193          1
Warangal       0.000084          1
Name: Customer Value, Length: 9253, dtype: int64

In [22]:
(r["Customer Value"]/(r["Customer Value"].sum())).groupby(r["Last_state"]).value_counts()

Last_state      Customer Value
Andhra Pradesh  0.000000          2
                0.000008          2
                0.000033          2
                0.000002          1
                0.000003          1
                0.000003          1
                0.000003          1
                0.000004          1
                0.000004          1
                0.000005          1
                0.000006          1
                0.000006          1
                0.000006          1
                0.000007          1
                0.000007          1
                0.000007          1
                0.000008          1
                0.000008          1
                0.000008          1
                0.000008          1
                0.000008          1
                0.000009          1
                0.000009          1
                0.000009          1
                0.000009          1
                0.000009          1
                0.000010          1
                0.000010          1
                0.000010          1
                0.000010          1
                                 ..
West Bengal     0.000419          1
                0.000429          1
                0.000430          1
                0.000437          1
                0.000437          1
                0.000438          1
                0.000441          1
                0.000450          1
                0.000453          1
                0.000469          1
                0.000488          1
                0.000490          1
                0.000495          1
                0.000505          1
                0.000519          1
                0.000528          1
                0.000566          1
                0.000581          1
                0.000583          1
                0.000619          1
                0.000650          1
                0.000652          1
                0.000653          1
                0.000674          1
                0.000720          1
                0.000921          1
                0.001112          1
                0.001148          1
                0.001836          1
                0.003245          1
Name: Customer Value, Length: 9007, dtype: int64

In [23]:
(r["Customer Value"]/(r["Customer Value"].sum())).groupby(r["Last_region"]).value_counts()

Last_region  Customer Value
East         8.362622e-06      3
             8.446249e-06      3
             3.143510e-05      3
             8.429523e-06      2
             8.554963e-06      2
             8.722215e-06      2
             8.780754e-06      2
             9.031632e-06      2
             1.066234e-05      2
             1.130627e-05      2
             1.831414e-05      2
             1.973579e-05      2
             2.901830e-05      2
             3.328324e-05      2
             2.884511e-04      2
             8.362622e-09      1
             1.087141e-06      1
             1.421646e-06      1
             1.655799e-06      1
             1.780402e-06      1
             1.973579e-06      1
             2.525512e-06      1
             3.018907e-06      1
             3.437038e-06      1
             3.938795e-06      1
             4.097685e-06      1
             4.114410e-06      1
             4.122773e-06      1
             4.181311e-06      1
             4.189674e-06      1
                              ..
West         1.106599e-03      1
             1.171281e-03      1
             1.173888e-03      1
             1.184364e-03      1
             1.280816e-03      1
             1.344831e-03      1
             1.349759e-03      1
             1.381840e-03      1
             1.402654e-03      1
             1.408077e-03      1
             1.414086e-03      1
             1.419955e-03      1
             1.449201e-03      1
             1.468142e-03      1
             1.516192e-03      1
             1.604751e-03      1
             1.618502e-03      1
             1.629600e-03      1
             1.732947e-03      1
             1.746556e-03      1
             2.155616e-03      1
             2.252339e-03      1
             2.359523e-03      1
             4.119511e-03      1
             4.568504e-03      1
             4.828495e-03      1
             6.431633e-03      1
             7.133180e-03      1
             1.999261e-02      1
             4.263863e-02      1
Name: Customer Value, Length: 8563, dtype: int64

In [1]:
#10. What is the count of customers, average number of purchases and average purchase transaction value by last state 
#and city.

In [24]:
(r["Customer ID"].groupby(r["Last_state"])).count()

Last_state
Andhra Pradesh        134
Assam                  29
Bihar                  23
Chandigarh              6
Chhattisgarh            2
Delhi                1019
Gujarat              3323
Haryana                 2
Jammu and Kashmir       1
Jharkhand              23
Karnataka             633
Kerala                  8
Madhya Pradesh        407
Maharashtra          1177
Orissa                  6
Puducherry              1
Punjab                  3
Rajasthan             302
Tamil Nadu            609
Telangana             379
Tripura                 2
Uttar Pradesh        1124
Uttarakhand             2
West Bengal           547
Name: Customer ID, dtype: int64

In [25]:
(r["Customer ID"].groupby(r["Last_city"])).count()

Last_city
Agartala                 2
Agra                    12
Ahmedabad              606
Aligarh                  8
Allahabad                2
Ambattur                 9
Ambernath                1
Asansol                  1
Aurangabad               3
Bangalore              622
Baranagar                2
Barasat                  1
Bareilly                 1
Begusarai                1
Bhagalpur                1
Bhatpara                 2
Bhilwara                 3
Bhiwandi                 1
Bhopal                 245
Bhubaneswar              3
Chandigarh               6
Chennai                582
Cuttack                  3
Davanagere               1
Dehradun                 1
Delhi                 1016
Dhanbad                 16
Etawah                   1
Firozabad                3
Gandhidham               1
                      ...
Patna                   18
Pimpri-Chinchwad       403
Puducherry               1
Purnia                   1
Raichur                  1
Raipur                   1
Rajkot                 232
Rajpur Sonarpur          2
Ranchi                   6
Rewa                     1
Saharanpur               2
Satna                    1
Siliguri                 1
Sonipat                  1
Sri Ganganagar           1
Srinagar                 1
Surat                 2098
Thane                    6
Thiruvananthapuram       2
Thoothukudi              1
Tirunelveli              2
Tirupati                 2
Tiruvottiyur             1
Ulhasnagar               1
Vadodara               382
Vasai-Virar             14
Vijayawada              18
Visakhapatnam          111
Vizianagaram             1
Warangal                 1
Name: Customer ID, Length: 106, dtype: int64

In [26]:
(r["buy times"]).groupby(r["Last_state"]).mean()

Last_state
Andhra Pradesh        5.283582
Assam                 8.517241
Bihar                 6.304348
Chandigarh            4.000000
Chhattisgarh          3.000000
Delhi                 5.048086
Gujarat               5.577490
Haryana               7.500000
Jammu and Kashmir     4.000000
Jharkhand             4.434783
Karnataka             4.985782
Kerala                5.875000
Madhya Pradesh        6.179361
Maharashtra           5.322855
Orissa               12.333333
Puducherry            9.000000
Punjab                3.666667
Rajasthan             4.943709
Tamil Nadu            4.512315
Telangana             6.081794
Tripura               5.500000
Uttar Pradesh         4.838078
Uttarakhand           4.000000
West Bengal           5.851920
Name: buy times, dtype: float64

In [27]:
(r["buy times"]).groupby(r["Last_city"]).mean()

Last_city
Agartala               5.500000
Agra                  12.916667
Ahmedabad              5.699670
Aligarh                4.000000
Allahabad              3.500000
Ambattur               5.555556
Ambernath              5.000000
Asansol                3.000000
Aurangabad             2.666667
Bangalore              4.966238
Baranagar              3.500000
Barasat                2.000000
Bareilly               2.000000
Begusarai              9.000000
Bhagalpur              3.000000
Bhatpara               3.000000
Bhilwara              10.333333
Bhiwandi               3.000000
Bhopal                 5.755102
Bhubaneswar            7.333333
Chandigarh             4.000000
Chennai                4.467354
Cuttack               17.333333
Davanagere             5.000000
Dehradun               2.000000
Delhi                  5.052165
Dhanbad                4.625000
Etawah                 9.000000
Firozabad              7.333333
Gandhidham             2.000000
                        ...
Patna                  5.888889
Pimpri-Chinchwad       4.531017
Puducherry             9.000000
Purnia                 4.000000
Raichur                6.000000
Raipur                 3.000000
Rajkot                 8.780172
Rajpur Sonarpur        2.000000
Ranchi                 4.333333
Rewa                   2.000000
Saharanpur             9.500000
Satna                  9.000000
Siliguri               4.000000
Sonipat               13.000000
Sri Ganganagar        14.000000
Srinagar               4.000000
Surat                  5.402765
Thane                 23.166667
Thiruvananthapuram     6.000000
Thoothukudi            9.000000
Tirunelveli            2.500000
Tirupati               6.000000
Tiruvottiyur           6.000000
Ulhasnagar             5.000000
Vadodara               4.424084
Vasai-Virar            5.142857
Vijayawada             9.500000
Visakhapatnam          4.558559
Vizianagaram          12.000000
Warangal               7.000000
Name: buy times, Length: 106, dtype: float64

In [28]:
(r["Customer Value"]).groupby(r["Last_state"]).mean()

Last_state
Andhra Pradesh       12492.049370
Assam                16081.062276
Bihar                12709.104261
Chandigarh            6826.633167
Chhattisgarh          3326.200000
Delhi                10382.335213
Gujarat              13988.376734
Haryana               9523.500000
Jammu and Kashmir     6099.000000
Jharkhand            12097.086826
Karnataka            10162.801396
Kerala                8608.687750
Madhya Pradesh       14982.804072
Maharashtra          11469.176546
Orissa               30474.516500
Puducherry           28015.000000
Punjab                3677.966333
Rajasthan            12691.368357
Tamil Nadu            9474.385255
Telangana            12216.037511
Tripura               6727.000000
Uttar Pradesh        11071.516369
Uttarakhand          14903.300500
West Bengal          12593.727070
Name: Customer Value, dtype: float64

In [29]:
(r["Customer Value"]).groupby(r["Last_city"]).mean()

Last_city
Agartala                6727.000000
Agra                   27461.083408
Ahmedabad              12378.427503
Aligarh                 3586.999875
Allahabad               2791.950000
Ambattur                7323.233111
Ambernath               4835.299000
Asansol                 3794.000000
Aurangabad              2088.133333
Bangalore              10186.100937
Baranagar               9970.950000
Barasat                 5034.895040
Bareilly                9914.000000
Begusarai              25697.999000
Bhagalpur               2787.799000
Bhatpara                7003.500000
Bhilwara              108358.900000
Bhiwandi                3898.900000
Bhopal                 11968.660522
Bhubaneswar             7991.534667
Chandigarh              6826.633167
Chennai                 9423.739000
Cuttack                52957.498333
Davanagere              5304.799000
Dehradun                1535.001000
Delhi                  10400.795633
Dhanbad                14307.200063
Etawah                 10812.000000
Firozabad              17685.833333
Gandhidham              2089.000000
                          ...
Patna                  10993.738944
Pimpri-Chinchwad        9320.499249
Puducherry             28015.000000
Purnia                  7334.000000
Raichur                 7284.200000
Raipur                  3866.000000
Rajkot                 19602.539292
Rajpur Sonarpur         1083.000000
Ranchi                  7626.299500
Rewa                   30537.200000
Saharanpur             28426.250000
Satna                  16261.000000
Siliguri               10379.000000
Sonipat                16375.000000
Sri Ganganagar         31467.001000
Srinagar                6099.000000
Surat                  14643.878226
Thane                  46487.504967
Thiruvananthapuram      6426.800000
Thoothukudi            52357.700000
Tirunelveli             4271.001000
Tirupati                9250.000000
Tiruvottiyur           14933.999000
Ulhasnagar              7084.000000
Vadodara                9654.239115
Vasai-Virar             7070.056786
Vijayawada             23059.100111
Visakhapatnam          10938.871303
Vizianagaram           23042.600000
Warangal               10040.501000
Name: Customer Value, Length: 106, dtype: float64