# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary

In [2]:
raw_dict={"Name":["Bulbasaur", "Squirtle","Charmender"], "Evolution":["yes","No","No"], "Type":["Earth","Water","Fire"]}

### Step 3. Assign it to a variable called

In [3]:
pk=pd.DataFrame(raw_dict)
pk

  Evolution        Name   Type
0       yes   Bulbasaur  Earth
1        No    Squirtle  Water
2        No  Charmender   Fire

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pk[["Name", "Type", "Evolution"]]

         Name   Type Evolution
0   Bulbasaur  Earth       yes
1    Squirtle  Water        No
2  Charmender   Fire        No

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
pk['place']=['park','lake','lava']
pk

  Evolution        Name   Type place
0       yes   Bulbasaur  Earth  park
1        No    Squirtle  Water  lake
2        No  Charmender   Fire  lava

### Step 6. Present the type of each column

In [6]:
pk.dtypes

Evolution    object
Name         object
Type         object
place        object
dtype: object

### BONUS: Create your own question and answer it.