In [530]:
import pandas as pd
import matplotlib.pyplot as pl
import numpy as np

from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn.model_selection import GridSearchCV

import statsmodels as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from patsy import dmatrices
from sklearn.decomposition import FactorAnalysis
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import  StandardScaler
from sklearn.cluster import KMeans
from sklearn import metrics

In [531]:
p1=pd.read_csv("C:\\Users\\kaust\\Desktop\\Telecom case study\\Case_study_data.csv")
p1= p1[:-1]
p1

,SITE_ACCOUNT_NUMBER,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,UPGRADE_DATE,SERVICE_ PLAN,MODEL,SALES_CHANNEL,DIRECT_INDIRECT_CHANNEL,SALES_SOURCE,COMPANY_SOURCE_NAME,...,SITE_TYPE_DESC,WARRANTY_NAME,MOST_RECENT_SALES_CHANNEL,GENDER,DATE_OF_BIRTH,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,COMPUTER_OWNER
0,AMR-11112345,Active,11/27/2001,12/14/2003,NaN,HN9000,Vars,Indirect,UNKNOWN,HNS Customers,...,Broadband Remote,0,HN7000 Upgrade,2.0,1/5/1943,69,0,1,0,N
1,AMR-14837287,Active,5/2/2003,8/8/2006,Pro,HN7000S,Sales Agents,Indirect,NCC,HNS Customers,...,Spaceway,0,Retail,2.0,28-12-1969,43,4,1,0,N
2,AMR-14837803,Active,1/28/2001,3/17/2004,Power150,HN9000,Call Center,Indirect,NCC,HNS Customers,...,Broadband Remote,0,National Sales,2.0,20-7-1954,58,4,1,0,N
3,AMR-14837821,Active,11/20/2001,3/27/2005,Power150,DW6000,Sales Agents,Direct,NaN,HNS Customers,...,Spaceway,0,Direct,NaN,10/5/1990,22,6,1,1,NaN
4,AMR-14839297,Active,2/27/2002,6/14/2004,Home,HN7000S,Call Center,Indirect,TAG,HNS Customers,...,Broadband Remote,0,DW6000 Upgrade,1.0,11/5/1976,36,7,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,AMR-49996971,Active,12/3/2001,12/26/2004,Basic_Ltd,HN7000S,NaN,Indirect,RS&I,HNS Customers,...,Broadband Remote,0,DW7000 Upgrade,NaN,8/2/1980,32,4,0,NaN,N
9994,AMR-49997196,Active,3/24/2002,5/17/2005,Home,DW4000,Web orders,Indirect,TAG,HNS Customers,...,Spaceway,0,Classic Migration,1.0,17-12-1973,39,4,0,0,N
9995,AMR-49998050,Active,4/3/2002,4/3/2006,Elite,HN7000S,Retail/others,Direct,LiveBridge Communications LLC,HNS Customers,...,Broadband Remote,NaN,HN7000 Upgrade,1.0,.,.,NaN,0,NaN,NaN
9996,AMR-49998608,Active,3/8/2002,10/31/2003,Pro,HN9000,Retail/others,Indirect,InfoDish,HNS Customers,...,Broadband Remote,0,Dealer-Generated Sale,2.0,15-10-1979,33,5,1,0,N
9997,AMR-49999972,Active,11/21/2001,12/19/2003,Home,DW4020,Vars,Indirect,Best Buy,HNS Customers,...,Broadband Remote,0,Dealer-Generated Sale,1.0,27-1-1947,65,0,1,1,NaN

In [532]:
p2=pd.read_csv("C:\\Users\\kaust\\Desktop\\Telecom case study\\Case_study_data_churn.csv")
p2

,SITE_ACCOUNT_NUMBER,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,CHURN_DATE,UPGRADE_DATE,SERVICE_PLAN,MODEL,SALES_CHANNEL,DIRECT_INDIRECT_CHANNEL,SALES_SOURCE,...,SITE_TYPE_DESC,WARRANTY_NAME,MOST_RECENT_SALES_CHANNEL,GENDER,DATE_OF_BIRTH,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,COMPUTER_OWNER
0,AMR-53205840,Closed,1/18/2002,4/2/2006,1/3/2004,Professional,DW6000,NaN,Indirect,Perfect 10,...,Broadband Remote,NaN,Dealer-Generated Sale,2.0,27-10-1964,48,0,.,NaN,N
1,AMR-53383136,Closed,1/2/2002,7/9/2006,7/28/2004,SO,DW6000,Retail/Others,Indirect,ValueElectronics,...,Broadband Remote,NaN,National Sales,NaN,22-10-1965,47,5,0,0.0,Y
2,AMR-53608585,Closed,1/6/2002,12/30/2008,4/27/2005,NaN,DW6000,Retail/Others,Indirect,TAG,...,Broadband Remote,NaN,Direct,2.0,20-3-1951,61,8,1,0.0,Y
3,AMR-53610590,Closed,1/5/2002,8/19/2004,NaN,SO,DW4000,NaN,Indirect,TAG,...,Broadband Remote,NaN,Direct,1.0,27-3-1948,64,0,.,NaN,Y
4,AMR-53612154,Closed,1/5/2002,8/17/2006,11/12/2005,Professional,DW7000,Retail/Others,Indirect,Perfect 10,...,Broadband Remote,NaN,Dealer-Generated Sale,1.0,25-8-1956,56,6,0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Q-94945717,Closed,1/7/2010,4/12/2011,8/25/2010,Basic,HN9000,Call Centers,Indirect,Red Ventures LLC (SA),...,Spaceway,EXPRESS REPAIR BASIC,Direct,2.0,12-7-1963,49,3,.,1.0,N
9996,Q-94977539,Closed,4/29/2010,4/24/2011,10/26/2010,Professional Plus,DW6000,Retail/Others,Direct,Communication Solutions LLC (CC),...,Spaceway,EXPRESS REPAIR HOME WITH TERM,Direct,2.0,6-7-1974,38,2,1,1.0,Y
9997,T000078824,Closed,4/9/2003,2/27/2004,NaN,Home,DW4000,Retail/Others,Indirect,TAG,...,Broadband Remote,NaN,Dealer - Direct Order,2.0,1-8-1945,67,8,0,0.0,NaN
9998,T000079618,Closed,4/8/2003,4/24/2006,1/2/2004,Power15,DW6000,NaN,NaN,TAG,...,Broadband Remote,NaN,Direct,1.0,12-1-1949,63,0,.,NaN,NaN
9999,T000080092,Closed,4/9/2003,3/27/2007,11/24/2006,Professional Plus,HN7000S,NaN,Indirect,TAG,...,Broadband Remote,NaN,Direct,1.0,10-11-1969,43,0,.,NaN,N

In [533]:
p1.columns

Index(['SITE_ACCOUNT_NUMBER', 'ACCOUNT_STATUS', 'FIRST_COMMUNICATION_DATE',
       'UPGRADE_DATE', 'SERVICE_ PLAN', 'MODEL', 'SALES_CHANNEL',
       'DIRECT_INDIRECT_CHANNEL', 'SALES_SOURCE', 'COMPANY_SOURCE_NAME',
       'FIRST_NAME', 'LAST_NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIPCODE',
       'EMAIL_ADDRESS', 'FEEDBACK', 'SATELLITE', 'SITE_TYPE_DESC',
       'WARRANTY_NAME', 'MOST_RECENT_SALES_CHANNEL', 'GENDER', 'DATE_OF_BIRTH',
       'AGE', 'INCOME', 'MARITAL_STATUS', 'PRESENCE_OF_CHILDREN',
       'COMPUTER_OWNER'],
      dtype='object')

In [534]:
p2.columns

Index(['SITE_ACCOUNT_NUMBER', 'ACCOUNT_STATUS', 'FIRST_COMMUNICATION_DATE',
       'CHURN_DATE', 'UPGRADE_DATE', 'SERVICE_PLAN', 'MODEL', 'SALES_CHANNEL',
       'DIRECT_INDIRECT_CHANNEL', 'SALES_SOURCE', 'COMPANY_SOURCE_NAME',
       'FIRST_NAME', 'LAST_NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIPCODE',
       'EMAIL_ADDRESS', 'FEEDBACK', 'SATELLITE', 'SITE_TYPE_DESC',
       'WARRANTY_NAME', 'MOST_RECENT_SALES_CHANNEL', 'GENDER', 'DATE_OF_BIRTH',
       'AGE', 'INCOME', 'MARITAL_STATUS', 'PRESENCE_OF_CHILDREN',
       'COMPUTER_OWNER'],
      dtype='object')

In [535]:
p1.dtypes

SITE_ACCOUNT_NUMBER           object
ACCOUNT_STATUS                object
FIRST_COMMUNICATION_DATE      object
UPGRADE_DATE                  object
SERVICE_ PLAN                 object
MODEL                         object
SALES_CHANNEL                 object
DIRECT_INDIRECT_CHANNEL       object
SALES_SOURCE                  object
COMPANY_SOURCE_NAME           object
FIRST_NAME                    object
LAST_NAME                     object
ADDRESS                       object
CITY                          object
STATE                         object
ZIPCODE                       object
EMAIL_ADDRESS                 object
FEEDBACK                      object
SATELLITE                     object
SITE_TYPE_DESC                object
WARRANTY_NAME                 object
MOST_RECENT_SALES_CHANNEL     object
GENDER                       float64
DATE_OF_BIRTH                 object
AGE                           object
INCOME                        object
MARITAL_STATUS                object
PRESENCE_OF_CHILDREN          object
COMPUTER_OWNER                object
dtype: object

In [719]:
p2.dtypes

SITE_ACCOUNT_NUMBER           object
ACCOUNT_STATUS                object
FIRST_COMMUNICATION_DATE      object
CHURN_DATE                    object
UPGRADE_DATE                  object
SERVICE_PLAN                  object
MODEL                         object
SALES_CHANNEL                 object
DIRECT_INDIRECT_CHANNEL       object
SALES_SOURCE                  object
COMPANY_SOURCE_NAME           object
FIRST_NAME                    object
LAST_NAME                     object
ADDRESS                       object
CITY                          object
STATE                         object
ZIPCODE                       object
EMAIL_ADDRESS                 object
FEEDBACK                      object
SATELLITE                     object
SITE_TYPE_DESC                object
WARRANTY_NAME                 object
MOST_RECENT_SALES_CHANNEL     object
GENDER                       float64
DATE_OF_BIRTH                 object
AGE                           object
INCOME                        object
MARITAL_STATUS                object
PRESENCE_OF_CHILDREN         float64
COMPUTER_OWNER                object
dtype: object

In [536]:
# FOR ACTIVE CUSTOMERS:--

In [8]:
## Percentage of Missing values--

In [537]:
(p1.isnull().sum()*100/len(p1)).sort_values(ascending=False).head(10)

COMPUTER_OWNER          30.546109
SALES_CHANNEL           29.055811
FEEDBACK                19.143829
PRESENCE_OF_CHILDREN    13.032607
GENDER                  12.712543
SERVICE_ PLAN           12.382476
WARRANTY_NAME            9.441888
SALES_SOURCE             6.861372
MODEL                    6.661332
SATELLITE                3.840768
dtype: float64

In [538]:
p1=p1.drop(["COMPUTER_OWNER","SALES_CHANNEL"],axis=1)

In [11]:
# COMPUTER_OWNER and SALES_CHANNEL variables are being dropped as they have more than 25% missing values.

In [539]:
## NUMERICAL VARIABLES :

In [540]:
# Taking Presence of Children, Marital status, Income, Age, Gender, Upgrade date and 1st communication date variables into
# account

In [541]:
# Missing Value Imputation--

In [542]:
# Gender-->

In [543]:
p1["GENDER"]=p1["GENDER"].fillna(0)

In [544]:
p1["GENDER"].isnull().sum()

0

In [545]:
p1["GENDER"].value_counts()

1.0    4764
2.0    3963
0.0    1271
Name: GENDER, dtype: int64

In [19]:
# Presence of Children-->

In [546]:
p1["PRESENCE_OF_CHILDREN"].value_counts()

0        6643
1        2041
#REF!      11
Name: PRESENCE_OF_CHILDREN, dtype: int64

In [547]:
p1.loc[p1.PRESENCE_OF_CHILDREN=="#REF!","PRESENCE_OF_CHILDREN"]=2

In [548]:
p1["PRESENCE_OF_CHILDREN"].isnull().sum()

1303

In [549]:
p1["PRESENCE_OF_CHILDREN"]=p1["PRESENCE_OF_CHILDREN"].fillna(2)

In [550]:
# Here replacing null values and #REF! with 2 indicates that we cannot tell about the presence of children

In [551]:
p1["PRESENCE_OF_CHILDREN"].isnull().sum()

0

In [552]:
p1["PRESENCE_OF_CHILDREN"]=p1["PRESENCE_OF_CHILDREN"].astype(int)

In [553]:
# Marital Status-->

In [554]:
p1["MARITAL_STATUS"].value_counts()

0        4654
1        4510
2         516
#REF!      11
Name: MARITAL_STATUS, dtype: int64

In [555]:
p1.loc[p1.MARITAL_STATUS=="#REF!","MARITAL_STATUS"]=3

In [556]:
p1["MARITAL_STATUS"].isnull().sum()

307

In [557]:
p1["MARITAL_STATUS"]=p1["MARITAL_STATUS"].fillna(3)

In [558]:
# Here replacing null values and #REF! with 3 indicates that we cannot tell about the marital status of the person

In [559]:
p1["MARITAL_STATUS"]=p1["MARITAL_STATUS"].astype(int)

In [560]:
# Income-->

In [561]:
p1["INCOME"].value_counts()

0        2734
6        1545
7        1015
4         963
5         876
3         669
8         597
9         464
A         193
2         169
D         158
1         156
C          99
B          43
#REF!      13
Name: INCOME, dtype: int64

In [562]:
p1["INCOME"].isnull().sum()

304

In [563]:
p1.loc[p1.INCOME=="#REF!","INCOME"]=15
p1.loc[p1.INCOME=="A","INCOME"]=11
p1.loc[p1.INCOME=="B","INCOME"]=12
p1.loc[p1.INCOME=="C","INCOME"]=13
p1.loc[p1.INCOME=="D","INCOME"]=14

In [564]:
p1["INCOME"]=p1["INCOME"].fillna(15)

In [565]:
# Here replacing null values and #REF! with 15 represents that we cannot tell about income of the person

In [567]:
p1["INCOME"].isnull().sum()

0

In [568]:
p1["INCOME"]=p1["INCOME"].astype(int)

In [569]:
# Age-->

In [570]:
p1["AGE"].isnull().sum()

0

In [571]:
p1[p1["AGE"]=="."]=0

In [572]:
p1["AGE"]=p1["AGE"].fillna(0)

In [573]:
p1["AGE"].isnull().sum()

0

In [574]:
p1["AGE"]=p1["AGE"].astype(int)

In [575]:
# First Communication Date-->

In [576]:
p1["FIRST_COMMUNICATION_DATE"].isnull().sum()

0

In [577]:
p1["FIRST_COMMUNICATION_DATE"]=pd.to_datetime(p1["FIRST_COMMUNICATION_DATE"],errors="coerce")

In [578]:
p1["FIRST_COMMUNICATION_DATE_Year"]=pd.DatetimeIndex(p1["FIRST_COMMUNICATION_DATE"]).year

In [579]:
p1["FIRST_COMMUNICATION_DATE_Month"]=pd.DatetimeIndex(p1["FIRST_COMMUNICATION_DATE"]).month

In [580]:
p1["FIRST_COMMUNICATION_DATE_Day"]=pd.DatetimeIndex(p1["FIRST_COMMUNICATION_DATE"]).day

In [581]:
p1["FIRST_COMMUNICATION_DATE_Year"]=p1["FIRST_COMMUNICATION_DATE_Year"].fillna(0)

In [582]:
p1["FIRST_COMMUNICATION_DATE_Month"]=p1["FIRST_COMMUNICATION_DATE_Month"].fillna(0)

In [583]:
p1["FIRST_COMMUNICATION_DATE_Day"]=p1["FIRST_COMMUNICATION_DATE_Day"].fillna(0)

In [584]:
p1[["FIRST_COMMUNICATION_DATE_Year","FIRST_COMMUNICATION_DATE_Month","FIRST_COMMUNICATION_DATE_Day"]].isnull().sum()

FIRST_COMMUNICATION_DATE_Year     0
FIRST_COMMUNICATION_DATE_Month    0
FIRST_COMMUNICATION_DATE_Day      0
dtype: int64

In [585]:
# Upgrade Date-->

In [586]:
p1["UPGRADE_DATE"].isnull().sum()

0

In [587]:
p1["UPGRADE_DATE"]=pd.to_datetime(p1["UPGRADE_DATE"],errors="coerce")

In [588]:
p1["UPGRADE_DATE_Year"]=pd.DatetimeIndex(p1["UPGRADE_DATE"]).year

In [589]:
p1["UPGRADE_DATE_Month"]=pd.DatetimeIndex(p1["UPGRADE_DATE"]).month

In [590]:
p1["UPGRADE_DATE_Day"]=pd.DatetimeIndex(p1["UPGRADE_DATE"]).day

In [591]:
p1["UPGRADE_DATE_Year"]=p1["UPGRADE_DATE_Year"].fillna(0)

In [592]:
p1["UPGRADE_DATE_Month"]=p1["UPGRADE_DATE_Month"].fillna(0)

In [593]:
p1["UPGRADE_DATE_Day"]=p1["UPGRADE_DATE_Day"].fillna(0)

In [594]:
p1[["UPGRADE_DATE_Year","UPGRADE_DATE_Month","UPGRADE_DATE_Day"]].isnull().sum()

UPGRADE_DATE_Year     0
UPGRADE_DATE_Month    0
UPGRADE_DATE_Day      0
dtype: int64

In [596]:
## CATEGORICAL VARIABLES :

In [597]:
# Taking service plan, Most recent sales channel, Direct Indirect channel, sales source, company source name, state,
# feedback, site type desc, model and satellite into account

In [598]:
# Missing Value Imputation--

In [599]:
p1['SERVICE_ PLAN']=p1['SERVICE_ PLAN'].fillna("Not Mentioned")

In [600]:
p1['MODEL']=p1['MODEL'].fillna("Not Mentioned")

In [601]:
p1['DIRECT_INDIRECT_CHANNEL']=p1['DIRECT_INDIRECT_CHANNEL'].fillna("Not Mentioned")

In [602]:
p1['SALES_SOURCE']=p1['SALES_SOURCE'].fillna("Not Mentioned")

In [603]:
p1['COMPANY_SOURCE_NAME']=p1['COMPANY_SOURCE_NAME'].fillna("Not Mentioned")

In [604]:
p1['SATELLITE']=p1['SATELLITE'].fillna("Not Mentioned")

In [605]:
p1["STATE"]=p1["STATE"].fillna("Not Mentioned")

In [606]:
p1["SITE_TYPE_DESC"]=p1["SITE_TYPE_DESC"].fillna("Not Mentioned")

In [607]:
p1["MOST_RECENT_SALES_CHANNEL"]=p1["MOST_RECENT_SALES_CHANNEL"].fillna("Not Mentioned")

In [608]:
p1['FEEDBACK']=p1['FEEDBACK'].fillna("Not Mentioned")

In [609]:
p1[['SERVICE_ PLAN', 'MODEL','DIRECT_INDIRECT_CHANNEL', 'SALES_SOURCE', 'COMPANY_SOURCE_NAME','FEEDBACK', 
    'SATELLITE',"STATE","SITE_TYPE_DESC","MOST_RECENT_SALES_CHANNEL"]].isnull().sum()

SERVICE_ PLAN                0
MODEL                        0
DIRECT_INDIRECT_CHANNEL      0
SALES_SOURCE                 0
COMPANY_SOURCE_NAME          0
FEEDBACK                     0
SATELLITE                    0
STATE                        0
SITE_TYPE_DESC               0
MOST_RECENT_SALES_CHANNEL    0
dtype: int64

In [610]:
# Dummy creation for categorical variables--

In [611]:
cat1=pd.get_dummies(p1['SERVICE_ PLAN'])

In [612]:
cat1=cat1.add_prefix("Service_Plan_")

In [613]:
cat2=pd.get_dummies(p1['MODEL'])

In [614]:
cat2=cat2.add_prefix("Model_")

In [615]:
cat3=pd.get_dummies(p1['DIRECT_INDIRECT_CHANNEL'])

In [616]:
cat3=cat3.add_prefix("Direct_Indirect_Channel_")

In [617]:
cat4=pd.get_dummies(p1['SALES_SOURCE'])

In [618]:
cat4=cat4.add_prefix("Sales_source_")

In [619]:
cat5=pd.get_dummies(p1['COMPANY_SOURCE_NAME'])

In [620]:
cat5=cat5.add_prefix("Company_source_name")

In [621]:
cat6=pd.get_dummies(p1['SATELLITE'])

In [622]:
cat6=cat6.add_prefix("Satellite")

In [623]:
cat7=pd.get_dummies(p1['STATE'])

In [624]:
cat7=cat7.add_prefix("State_")

In [625]:
cat8=pd.get_dummies(p1['SITE_TYPE_DESC'])

In [626]:
cat8=cat8.add_prefix("Site_Type_Desc_")

In [627]:
cat9=pd.get_dummies(p1['MOST_RECENT_SALES_CHANNEL'])

In [628]:
cat9=cat9.add_prefix("Most_Recent_sales_channel_")

In [629]:
cat10=pd.get_dummies(p1['FEEDBACK'])

In [630]:
cat10=cat10.add_prefix("Feedback_")

In [631]:
p1=p1.drop(['SERVICE_ PLAN', 'MODEL','DIRECT_INDIRECT_CHANNEL', 'SALES_SOURCE', 'COMPANY_SOURCE_NAME','FEEDBACK', 
    'SATELLITE',"STATE","SITE_TYPE_DESC","MOST_RECENT_SALES_CHANNEL"],axis=1)

In [632]:
p1.columns

Index(['SITE_ACCOUNT_NUMBER', 'ACCOUNT_STATUS', 'FIRST_COMMUNICATION_DATE',
       'UPGRADE_DATE', 'FIRST_NAME', 'LAST_NAME', 'ADDRESS', 'CITY', 'ZIPCODE',
       'EMAIL_ADDRESS', 'WARRANTY_NAME', 'GENDER', 'DATE_OF_BIRTH', 'AGE',
       'INCOME', 'MARITAL_STATUS', 'PRESENCE_OF_CHILDREN',
       'FIRST_COMMUNICATION_DATE_Year', 'FIRST_COMMUNICATION_DATE_Month',
       'FIRST_COMMUNICATION_DATE_Day', 'UPGRADE_DATE_Year',
       'UPGRADE_DATE_Month', 'UPGRADE_DATE_Day'],
      dtype='object')

In [633]:
# Merging dummy categorical variables with the original dataset.

In [634]:
p1=pd.concat([p1,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10],axis=1)

In [635]:
p1.head()

,SITE_ACCOUNT_NUMBER,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,UPGRADE_DATE,FIRST_NAME,LAST_NAME,ADDRESS,CITY,ZIPCODE,EMAIL_ADDRESS,...,Most_Recent_sales_channel_National Sales,Most_Recent_sales_channel_Not Mentioned,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_UNKNOWN,Most_Recent_sales_channel_Used Equipment,Feedback_0,Feedback_BAD,Feedback_GOOD,Feedback_Not Mentioned
0,AMR-11112345,Active,2001-11-27,2003-12-14,Ace,FUTRELL,TRIPLE CANTHOOK LN 0 0 0,GERMANTOWN,20876,Ace.FUTRELL@hotmail.com,...,0,0,0,0,0,0,0,0,0,1
1,AMR-14837287,Active,2003-05-02,2006-08-08,Robert,Fitzpatrick,RR JOE 62 0 0 0,WEST BERLIN,8091,Robert.Fitzpatrick@hughes.net,...,0,0,0,1,0,0,0,0,1,0
2,AMR-14837803,Active,2001-01-28,2004-03-17,EDWARD,Vipperman,69330 1 RD WAY 0 0,MERRYVILLE,70653,EDWARD.Vipperman@rossaweb.net,...,1,0,0,0,0,0,0,1,0,0
3,AMR-14837821,Active,2001-11-20,2005-03-27,Dannya,Jyotinagaram,PO ROCK ST 421 0 0,ZANESVILLE,43701,Danny.Jyotinagaram@sipnsearch.com,...,0,0,0,0,0,0,0,0,0,1
4,AMR-14839297,Active,2002-02-27,2004-06-14,Joannea,BARNOSKY,626 NW RD 0 0 0,CALLICOON,12723,Joanne.BARNOSKY@geeksquad.com,...,0,0,0,0,0,0,0,0,1,0

In [636]:
# Multi-Index Creation--

In [637]:
p1["NAME"]=p1['FIRST_NAME']+ +p1['LAST_NAME']

In [639]:
p1=p1.set_index(["SITE_ACCOUNT_NUMBER","NAME","EMAIL_ADDRESS","CITY"])

In [640]:
p1_select=p1.select_dtypes(["int32","float","uint8","float64"])

In [641]:
p1_select.head()

,,,,GENDER,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,FIRST_COMMUNICATION_DATE_Year,FIRST_COMMUNICATION_DATE_Month,FIRST_COMMUNICATION_DATE_Day,UPGRADE_DATE_Year,UPGRADE_DATE_Month,...,Most_Recent_sales_channel_National Sales,Most_Recent_sales_channel_Not Mentioned,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_UNKNOWN,Most_Recent_sales_channel_Used Equipment,Feedback_0,Feedback_BAD,Feedback_GOOD,Feedback_Not Mentioned
SITE_ACCOUNT_NUMBER,NAME,EMAIL_ADDRESS,CITY,,,,,,,,,,,,,,,,,,,,,
AMR-11112345,AceFUTRELL,Ace.FUTRELL@hotmail.com,GERMANTOWN,2.0,69,0,1,0,2001.0,11.0,27.0,2003.0,12.0,...,0,0,0,0,0,0,0,0,0,1
AMR-14837287,RobertFitzpatrick,Robert.Fitzpatrick@hughes.net,WEST BERLIN,2.0,43,4,1,0,2003.0,5.0,2.0,2006.0,8.0,...,0,0,0,1,0,0,0,0,1,0
AMR-14837803,EDWARDVipperman,EDWARD.Vipperman@rossaweb.net,MERRYVILLE,2.0,58,4,1,0,2001.0,1.0,28.0,2004.0,3.0,...,1,0,0,0,0,0,0,1,0,0
AMR-14837821,DannyaJyotinagaram,Danny.Jyotinagaram@sipnsearch.com,ZANESVILLE,0.0,22,6,1,1,2001.0,11.0,20.0,2005.0,3.0,...,0,0,0,0,0,0,0,0,0,1
AMR-14839297,JoanneaBARNOSKY,Joanne.BARNOSKY@geeksquad.com,CALLICOON,1.0,36,7,0,0,2002.0,2.0,27.0,2004.0,6.0,...,0,0,0,0,0,0,0,0,1,0

In [642]:
# Taking ACCOUNT_STATUS variable as dependent variable

In [643]:
p1_select1=pd.concat([p1_select,p1["ACCOUNT_STATUS"]],axis=1)

In [644]:
p1_select1["ACCOUNT_STATUS"]=np.where((p1_select1["ACCOUNT_STATUS"]=="Active"),1,0)

In [645]:
p1_select1.head()

,,,,GENDER,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,FIRST_COMMUNICATION_DATE_Year,FIRST_COMMUNICATION_DATE_Month,FIRST_COMMUNICATION_DATE_Day,UPGRADE_DATE_Year,UPGRADE_DATE_Month,...,Most_Recent_sales_channel_Not Mentioned,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_UNKNOWN,Most_Recent_sales_channel_Used Equipment,Feedback_0,Feedback_BAD,Feedback_GOOD,Feedback_Not Mentioned,ACCOUNT_STATUS
SITE_ACCOUNT_NUMBER,NAME,EMAIL_ADDRESS,CITY,,,,,,,,,,,,,,,,,,,,,
AMR-11112345,AceFUTRELL,Ace.FUTRELL@hotmail.com,GERMANTOWN,2.0,69,0,1,0,2001.0,11.0,27.0,2003.0,12.0,...,0,0,0,0,0,0,0,0,1,1
AMR-14837287,RobertFitzpatrick,Robert.Fitzpatrick@hughes.net,WEST BERLIN,2.0,43,4,1,0,2003.0,5.0,2.0,2006.0,8.0,...,0,0,1,0,0,0,0,1,0,1
AMR-14837803,EDWARDVipperman,EDWARD.Vipperman@rossaweb.net,MERRYVILLE,2.0,58,4,1,0,2001.0,1.0,28.0,2004.0,3.0,...,0,0,0,0,0,0,1,0,0,1
AMR-14837821,DannyaJyotinagaram,Danny.Jyotinagaram@sipnsearch.com,ZANESVILLE,0.0,22,6,1,1,2001.0,11.0,20.0,2005.0,3.0,...,0,0,0,0,0,0,0,0,1,1
AMR-14839297,JoanneaBARNOSKY,Joanne.BARNOSKY@geeksquad.com,CALLICOON,1.0,36,7,0,0,2002.0,2.0,27.0,2004.0,6.0,...,0,0,0,0,0,0,0,1,0,1

In [646]:
## FACTOR ANALYSIS:

In [647]:
factor=FactorAnalysis(20).fit(p1_select1)

In [648]:
F_analysis=pd.DataFrame(factor.components_,columns=p1_select1.columns)

In [649]:
F_analysis=F_analysis.T

In [650]:
F_analysis=F_analysis.add_prefix('Factor_')

In [651]:
F_analysis

,Factor_0,Factor_1,Factor_2,Factor_3,Factor_4,Factor_5,Factor_6,Factor_7,Factor_8,Factor_9,Factor_10,Factor_11,Factor_12,Factor_13,Factor_14,Factor_15,Factor_16,Factor_17,Factor_18,Factor_19
GENDER,-0.204134,0.053953,0.020985,0.101438,0.017544,0.004416,-0.000497,0.006472,-0.001755,-0.011632,1.576808e-03,4.238755e-03,-2.249712e-03,9.732627e-03,-3.856711e-03,3.381058e-03,5.870738e-03,1.997663e-02,9.753167e-03,1.035332e-03
AGE,-7.100055,1.643508,0.422573,3.603167,0.232697,0.298739,0.081434,0.065355,-0.123334,0.227204,4.454160e-02,1.303494e+01,3.216438e+00,1.325638e-02,2.858149e-02,6.987956e-01,-1.151884e-02,-2.161638e-03,-1.655985e-02,7.027277e-03
INCOME,-0.684365,0.194100,0.026955,0.377147,0.108974,0.004501,0.039262,-0.045057,0.073619,0.009890,3.685294e-02,1.120488e-01,-6.315035e-02,-8.148467e-02,-2.687183e-02,-1.420199e-02,1.584327e+00,-1.446256e+00,2.515645e+00,-8.065546e-03
MARITAL_STATUS,-0.109989,0.028014,-0.000673,0.051471,0.008746,-0.003960,0.006473,-0.004590,0.001286,-0.001147,6.513084e-03,1.913557e-02,8.280811e-03,2.788419e-03,1.013339e-02,1.410560e-02,1.430467e-02,-4.890065e-03,4.478200e-03,2.348760e-02
PRESENCE_OF_CHILDREN,-0.070756,0.017541,0.006585,0.027232,0.005888,0.001810,-0.006492,-0.003881,-0.000252,-0.014433,2.081969e-02,-6.981415e-03,4.347058e-03,-6.551343e-03,-6.883844e-03,-5.796484e-03,4.732403e-03,3.144796e-03,2.206388e-03,8.666332e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Feedback_0,0.161986,-0.038872,-0.010005,-0.079455,-0.012579,-0.002791,-0.002616,-0.001379,-0.000960,0.000097,-1.251314e-09,4.550246e-11,1.635494e-11,1.165266e-11,6.045378e-12,6.869185e-12,1.755538e-12,1.105240e-12,1.298319e-12,-4.563361e-14
Feedback_BAD,0.031271,0.371249,-0.075695,0.062561,-0.244197,0.000950,0.000884,0.000440,0.000324,-0.000046,1.615635e-10,-1.851659e-11,-8.100754e-12,-3.509452e-12,-1.014747e-12,-2.852234e-12,-4.938978e-13,-2.280309e-13,-3.135771e-13,3.002788e-14
Feedback_GOOD,-0.200642,-0.426742,0.115008,0.021436,-0.117234,0.001003,0.000843,0.000449,0.000338,-0.000014,7.907591e-10,-1.711246e-11,-8.800491e-12,-3.541451e-12,-3.005254e-12,-2.670544e-12,-4.966345e-13,-7.259597e-13,-3.663520e-13,7.782380e-15
Feedback_Not Mentioned,0.007385,0.094365,-0.029308,-0.004542,0.374010,0.000838,0.000889,0.000489,0.000297,-0.000037,2.989913e-10,-9.873412e-12,5.463065e-13,-4.601751e-12,-2.025381e-12,-1.346405e-12,-7.650118e-13,-1.512408e-13,-6.183853e-13,7.825585e-15
ACCOUNT_STATUS,-0.161679,0.039051,0.010000,0.079661,0.012387,0.002839,0.002640,0.001398,0.000979,-0.000100,3.057145e-05,-1.082095e-03,-1.411584e-04,5.458388e-04,1.636857e-04,3.120989e-04,-2.339312e-04,3.726797e-04,-3.123505e-04,-5.704290e-04

In [652]:
# KMEANS CLUSTERING :

In [653]:
sc=StandardScaler()

In [654]:
scale=sc.fit_transform(p1_select1)

In [655]:
km=KMeans(n_clusters=20)

In [656]:
km.fit(scale)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=20, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [657]:
pd.Series(km.labels_).value_counts()

17    2853
0     1617
2     1229
11    1229
4      623
15     468
5      372
7      356
6      233
13     211
1      194
12     144
10     136
18     108
14     105
3       85
19      13
9       12
16       9
8        1
dtype: int64

In [658]:
pindex=p1_select1.reset_index()

In [659]:
clusters=pd.concat([pindex, pd.Series(km.labels_, name='Clusters')], axis=1)

In [660]:
clusters

,SITE_ACCOUNT_NUMBER,NAME,EMAIL_ADDRESS,CITY,GENDER,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,FIRST_COMMUNICATION_DATE_Year,...,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_UNKNOWN,Most_Recent_sales_channel_Used Equipment,Feedback_0,Feedback_BAD,Feedback_GOOD,Feedback_Not Mentioned,ACCOUNT_STATUS,Clusters
0,AMR-11112345,AceFUTRELL,Ace.FUTRELL@hotmail.com,GERMANTOWN,2.0,69,0,1,0,2001.0,...,0,0,0,0,0,0,0,1,1,17
1,AMR-14837287,RobertFitzpatrick,Robert.Fitzpatrick@hughes.net,WEST BERLIN,2.0,43,4,1,0,2003.0,...,0,1,0,0,0,0,1,0,1,3
2,AMR-14837803,EDWARDVipperman,EDWARD.Vipperman@rossaweb.net,MERRYVILLE,2.0,58,4,1,0,2001.0,...,0,0,0,0,0,1,0,0,1,12
3,AMR-14837821,DannyaJyotinagaram,Danny.Jyotinagaram@sipnsearch.com,ZANESVILLE,0.0,22,6,1,1,2001.0,...,0,0,0,0,0,0,0,1,1,6
4,AMR-14839297,JoanneaBARNOSKY,Joanne.BARNOSKY@geeksquad.com,CALLICOON,1.0,36,7,0,0,2002.0,...,0,0,0,0,0,0,1,0,1,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,AMR-49996971,DarnaSHAUERS,Darna.SHAUERS@compuserve.com,PONTOTOC,0.0,32,4,0,2,2001.0,...,0,0,0,0,0,0,1,0,1,1
9994,AMR-49997196,PhillipWright,Phillip.Wright@gmail.com,CABAZON,1.0,39,4,0,0,2002.0,...,0,0,0,0,0,0,1,0,1,0
9995,0,0,0,0,0.0,0,0,0,0,1970.0,...,0,0,0,0,1,0,0,0,0,7
9996,AMR-49998608,EricaRitton,Eric.Ritton@compuserve.com,BOSTON,2.0,33,5,1,0,2002.0,...,0,0,0,0,0,1,0,0,1,4
9997,AMR-49999972,GUSTAVMajors,GUSTAV.Majors@aol.com,VACAVILLE,1.0,65,0,1,1,2001.0,...,0,0,0,0,0,0,0,1,1,15

In [661]:
# BUILDING MODELS :

In [662]:
train_x, test_x, train_y, test_y = train_test_split(p1_select1[p1_select1.columns[:-1]],
                                                  p1_select1['ACCOUNT_STATUS'],
                                                  test_size=0.3,
                                                  random_state=125)

In [663]:
# Logistic Regression--

In [664]:
lr=LogisticRegression()

In [665]:
xx=lr.fit(train_x, train_y)

In [666]:
pre1=lr.predict(test_x)

In [667]:
acc1=lr.score(test_x,test_y)

In [668]:
acc1*100

99.96666666666667

In [669]:
mae1=metrics.mean_absolute_error(test_y,pre1)

In [670]:
mae1

0.0003333333333333333

In [671]:
rmse1=np.sqrt(metrics.mean_squared_error(test_y,pre1))
rmse1

0.018257418583505537

In [672]:
## Logistic Regression Model Validation-->
#   Accuracy score         - 99.966   
#   Mean absolute error    - 0.0003
#   Root mean square error - 0.0182

In [675]:
# KNN Regressor--

In [676]:
knn=KNeighborsRegressor(n_neighbors=10,n_jobs=5)

In [677]:
kn_fit=knn.fit(train_x,train_y)

In [678]:
pre2=knn.predict(test_x)

In [679]:
acc2=knn.score(test_x,test_y)

In [680]:
acc2*100

98.59702668110663

In [681]:
mae2=metrics.mean_absolute_error(test_y,pre2)
mae2

0.001433333333333333

In [682]:
rmse2=np.sqrt(metrics.mean_squared_error(test_y,pre2))
rmse2

0.02105548226313834

In [156]:
## KNN Regressor Model Validation-->
#   Accuracy score         - 98.597   
#   Mean absolute error    - 0.0014
#   Root mean square error - 0.0210

In [683]:
# Linear Regression--

In [684]:
lm=LinearRegression(normalize=True)

In [685]:
lm_fit=lm.fit(train_x,train_y)

In [686]:
pre3=lm.predict(test_x)

In [687]:
acc3=lm.score(test_x,test_y)

In [688]:
acc3

-3948871209818.5596

In [689]:
mae3=metrics.mean_absolute_error(test_y,pre3)
mae3

6449.3594942118325

In [690]:
rmse3=np.sqrt(metrics.mean_squared_error(test_y,pre3))
rmse3

353245.7716327643

In [691]:
## Linear Regression Model Validation-->
#   Accuracy score         - (-)3948871209818.55   
#   Mean absolute error    -    6449.35
#   Root mean square error -    353245.77

In [166]:
# Logistic Regression Model shows the highest accuracy and exhibits least errors, therefore we use this model for finding
# the key factors that would contribute to churn

In [692]:
lr_col=pd.DataFrame(xx.coef_)

In [693]:
lr_col.columns=train_x.columns

In [694]:
lr_col_new=lr_col.T

In [695]:
lr_col_new.columns=["Coefficients"]

In [696]:
lr_features=lr_col_new.sort_values(ascending=False,by="Coefficients")

In [697]:
lr_features=lr_features.reset_index()

In [698]:
lr_features.columns=["Features","Coefficients"]

In [699]:
lr_features

                             Features  Coefficients
0                              GENDER      0.306165
1                   UPGRADE_DATE_Year      0.278791
2    Company_source_nameHNS Customers      0.244030
3                       Model_HN7000S      0.221771
4      FIRST_COMMUNICATION_DATE_Month      0.219667
..                                ...           ...
199       Most_Recent_sales_channel_0     -0.243083
200         Direct_Indirect_Channel_0     -0.243083
201              Company_source_name0     -0.243083
202                  Site_Type_Desc_0     -0.243083
203     FIRST_COMMUNICATION_DATE_Year     -0.279530

[204 rows x 2 columns]

In [700]:
# Taking top 100 features based on the coefficients

In [701]:
rank=lr_features.loc[0:100,['Features']]

In [702]:
feature_list=['GENDER', 'UPGRADE_DATE_Year', 'Company_source_nameHNS Customers', 'Model_HN7000S', 'FIRST_COMMUNICATION_DATE_Month',
 'UPGRADE_DATE_Month', 'Direct_Indirect_Channel_Indirect', 'Site_Type_Desc_Broadband Remote', 'UPGRADE_DATE_Day',
 'FIRST_COMMUNICATION_DATE_Day', 'Feedback_BAD', 'Feedback_GOOD', 'Site_Type_Desc_Spaceway', 'Direct_Indirect_Channel_Direct', 'Service_Plan_Pro',
 'Sales_source_TAG', 'Most_Recent_sales_channel_Dealer-Generated Sale', 'PRESENCE_OF_CHILDREN', 'MARITAL_STATUS', 'Service_Plan_Power150',
 'SatelliteAM6-HOR-21K', 'Model_HN9000', 'Service_Plan_Basic', 'Sales_source_RS&I', 'Most_Recent_sales_channel_HN7000 Upgrade',
 'Satellite0', 'Satellite0', 'SatelliteSM5-VER-1K', 'Service_Plan_Proplus', 'SatelliteSPACEWAY3', 'State_ CO', 'Most_Recent_sales_channel_HN9000 Upgrade',
 'Sales_source_Hughes Web Order', 'Model_DW4000', 'Feedback_Not Mentioned', 'SatelliteG17-HOR-6K', 'Sales_source_InfoDish', 'Model_UNK', 'Model_Not Mentioned', 'Service_Plan_Home',
 'Model_DW6000', 'State_ OR', 'Most_Recent_sales_channel_DW7000 Upgrade', 'Sales_source_LiveBridge Communications LLC',
 'AGE', 'SatelliteSM5-HOR-14K', 'State_ NY', 'State_ IL', 'State_ VA', 'SatelliteNot Mentioned', 'Sales_source_UNKNOWN',
 'Sales_source_ACS', 'Most_Recent_sales_channel_DW6000 Upgrade', 'Most_Recent_sales_channel_National Sales',
 'Most_Recent_sales_channel_Dial Return Upgrade', 'State_ AZ', 'State_ MI', 'SatelliteAM9-VER-2K ', 'Most_Recent_sales_channel_Retail', 'State_ WA',
 'Sales_source_Best Buy', 'INCOME', 'State_ AR', 'Sales_source_Verisign Web Ordering',
 'Most_Recent_sales_channel_Retail       ', 'State_ OH', 'SatelliteHZN2-VER-4K',
 'Service_Plan_Not Mentioned', 'SatelliteSM5-VER-15K', 'State_ MO', 'Sales_source_PEGASUS BROADBAND COMMUNICATIO',
 'Most_Recent_sales_channel_Classic Migration', 'State_ NM', 'Sales_source_ACS Pre-Install', 'State_ TN',
 'SatelliteG16-VER-1K', 'State_ NC', 'State_ WV', 'State_ SC', 'State_ PA', 'Most_Recent_sales_channel_UNKNOWN',
 'State_ FL', 'State_ WI', 'State_ GA', 'State_ MA', 'State_ AL', 'Sales_source_MiniDish', 'State_ OK', 'State_ IN', 'State_ IA',
 'State_ LA', 'Sales_source_ValueElectronics', 'Sales_source_Perfect 10', 'SatelliteAM9-HOR-21K',
 'SatelliteAM9-HOR-19K', 'Most_Recent_sales_channel_Business Edition', 'State_ WY', 'SatelliteSM6-HOR-13K', 'State_ MN', 'SatelliteHZN-HOR-19K',
 'State_ ID']
feature_list.append('ACCOUNT_STATUS')

In [703]:
df=p1_select1[feature_list]

In [704]:
df.columns=['GENDER', 'UPGRADE_DATE_Year', 'Company_source_nameHNS_Customers','Model_HN7000S', 'FIRST_COMMUNICATION_DATE_Month', 'UPGRADE_DATE_Month',
       'Direct_Indirect_Channel_Indirect', 'Site_Type_Desc_Broadband_Remote','UPGRADE_DATE_Day', 'FIRST_COMMUNICATION_DATE_Day', 'Feedback_BAD',
       'Feedback_GOOD', 'Site_Type_Desc_Spaceway','Direct_Indirect_Channel_Direct', 'Service_Plan_Pro',
       'Sales_source_TAG', 'Most_Recent_sales_channel_Dealer_Generated_Sale','PRESENCE_OF_CHILDREN', 'MARITAL_STATUS', 'Service_Plan_Power150',
       'SatelliteAM6_HOR_21K', 'Model_HN9000', 'Service_Plan_Basic','Sales_source_RS_I', 'Most_Recent_sales_channel_HN7000_Upgrade',
       'Satellite0', 'Satellite0', 'Satellite0', 'Satellite0','SatelliteSM5_VER_1K', 'Service_Plan_Proplus', 'SatelliteSPACEWAY3',
       'State_CO', 'Most_Recent_sales_channel_HN9000_Upgrade','Sales_source_Hughes_Web_Order', 'Model_DW4000',
       'Feedback_Not_Mentioned', 'SatelliteG17_HOR_6K','Sales_source_InfoDish', 'Model_UNK', 'Model_Not_Mentioned',
       'Service_Plan_Home', 'Model_DW6000', 'State_OR','Most_Recent_sales_channel_DW7000_Upgrade',
       'Sales_source_LiveBridge_Communications_LLC', 'AGE','SatelliteSM5_HOR_14K', 'State_NY', 'State_IL', 'State_VA',
       'SatelliteNot_Mentioned', 'Sales_source_UNKNOWN','Sales_source_ACS', 'Most_Recent_sales_channel_DW6000_Upgrade',
 'Most_Recent_sales_channel_National_Sales', 'Most_Recent_sales_channel_Dial_Return_Upgrade', 'State_AZ', 'State_MI',
 'SatelliteAM9_VER_2K', 'Most_Recent_sales_channel_Retail', 'State_WA', 'Sales_source_Best_Buy', 'INCOME', 'State_AR',
 'Sales_source_Verisign_Web_Ordering', 'Most_Recent_sales_channel_Retail', 'State_OH', 'SatelliteHZN2_VER_4K',
 'Service_Plan_Not_Mentioned', 'SatelliteSM5_VER_15K', 'State_MO', 'Sales_source_PEGASUS_BROADBAND_COMMUNICATIO',
 'Most_Recent_sales_channel_Classic_Migration', 'State_NM', 'Sales_source_ACS_Pre_Install', 'State_TN',
 'SatelliteG16_VER_1K', 'State_NC', 'State_WV', 'State_SC', 'State_PA', 'Most_Recent_sales_channel_UNKNOWN',
 'State_FL', 'State_WI', 'State_GA', 'State_MA', 'State_AL', 'Sales_source_MiniDish', 'State_OK', 'State_IN',
 'State_IA', 'State_LA', 'Sales_source_ValueElectronics', 'Sales_source_Perfect_10', 'SatelliteAM9_HOR_21K',
 'SatelliteAM9_HOR_19K', 'Most_Recent_sales_channel_Business_Edition', 'State_WY', 'SatelliteSM6_HOR_13K', 'State_MN',
 'SatelliteHZN_HOR_19K', 'State_ID','ACCOUNT_STATUS']

In [705]:
new_list=['GENDER', 'UPGRADE_DATE_Year', 'Company_source_nameHNS_Customers','Model_HN7000S', 'FIRST_COMMUNICATION_DATE_Month', 'UPGRADE_DATE_Month',
       'Direct_Indirect_Channel_Indirect', 'Site_Type_Desc_Broadband_Remote','UPGRADE_DATE_Day', 'FIRST_COMMUNICATION_DATE_Day', 'Feedback_BAD',
       'Feedback_GOOD', 'Site_Type_Desc_Spaceway','Direct_Indirect_Channel_Direct', 'Service_Plan_Pro',
       'Sales_source_TAG', 'Most_Recent_sales_channel_Dealer_Generated_Sale','PRESENCE_OF_CHILDREN', 'MARITAL_STATUS', 'Service_Plan_Power150',
       'SatelliteAM6_HOR_21K', 'Model_HN9000', 'Service_Plan_Basic','Sales_source_RS_I', 'Most_Recent_sales_channel_HN7000_Upgrade',
       'Satellite0', 'Satellite0', 'Satellite0', 'Satellite0','SatelliteSM5_VER_1K', 'Service_Plan_Proplus', 'SatelliteSPACEWAY3',
       'State_CO', 'Most_Recent_sales_channel_HN9000_Upgrade','Sales_source_Hughes_Web_Order', 'Model_DW4000',
       'Feedback_Not_Mentioned', 'SatelliteG17_HOR_6K','Sales_source_InfoDish', 'Model_UNK', 'Model_Not_Mentioned',
       'Service_Plan_Home', 'Model_DW6000', 'State_OR','Most_Recent_sales_channel_DW7000_Upgrade',
       'Sales_source_LiveBridge_Communications_LLC', 'AGE','SatelliteSM5_HOR_14K', 'State_NY', 'State_IL', 'State_VA',
       'SatelliteNot_Mentioned', 'Sales_source_UNKNOWN','Sales_source_ACS', 'Most_Recent_sales_channel_DW6000_Upgrade',
 'Most_Recent_sales_channel_National_Sales', 'Most_Recent_sales_channel_Dial_Return_Upgrade', 'State_AZ', 'State_MI',
 'SatelliteAM9_VER_2K', 'Most_Recent_sales_channel_Retail', 'State_WA', 'Sales_source_Best_Buy', 'INCOME', 'State_AR',
 'Sales_source_Verisign_Web_Ordering', 'Most_Recent_sales_channel_Retail', 'State_OH', 'SatelliteHZN2_VER_4K',
 'Service_Plan_Not_Mentioned', 'SatelliteSM5_VER_15K', 'State_MO', 'Sales_source_PEGASUS_BROADBAND_COMMUNICATIO',
 'Most_Recent_sales_channel_Classic_Migration', 'State_NM', 'Sales_source_ACS_Pre_Install', 'State_TN',
 'SatelliteG16_VER_1K', 'State_NC', 'State_WV', 'State_SC', 'State_PA', 'Most_Recent_sales_channel_UNKNOWN',
 'State_FL', 'State_WI', 'State_GA', 'State_MA', 'State_AL', 'Sales_source_MiniDish', 'State_OK', 'State_IN',
 'State_IA', 'State_LA', 'Sales_source_ValueElectronics', 'Sales_source_Perfect_10', 'SatelliteAM9_HOR_21K',
 'SatelliteAM9_HOR_19K', 'Most_Recent_sales_channel_Business_Edition', 'State_WY', 'SatelliteSM6_HOR_13K', 'State_MN',
 'SatelliteHZN_HOR_19K', 'State_ID','ACCOUNT_STATUS']

In [706]:
# Dealing with Multi-Collinearity--

In [707]:
del new_list[-1]

In [708]:
features = "+".join(new_list)

In [709]:
features

'GENDER+UPGRADE_DATE_Year+Company_source_nameHNS_Customers+Model_HN7000S+FIRST_COMMUNICATION_DATE_Month+UPGRADE_DATE_Month+Direct_Indirect_Channel_Indirect+Site_Type_Desc_Broadband_Remote+UPGRADE_DATE_Day+FIRST_COMMUNICATION_DATE_Day+Feedback_BAD+Feedback_GOOD+Site_Type_Desc_Spaceway+Direct_Indirect_Channel_Direct+Service_Plan_Pro+Sales_source_TAG+Most_Recent_sales_channel_Dealer_Generated_Sale+PRESENCE_OF_CHILDREN+MARITAL_STATUS+Service_Plan_Power150+SatelliteAM6_HOR_21K+Model_HN9000+Service_Plan_Basic+Sales_source_RS_I+Most_Recent_sales_channel_HN7000_Upgrade+Satellite0+Satellite0+Satellite0+Satellite0+SatelliteSM5_VER_1K+Service_Plan_Proplus+SatelliteSPACEWAY3+State_CO+Most_Recent_sales_channel_HN9000_Upgrade+Sales_source_Hughes_Web_Order+Model_DW4000+Feedback_Not_Mentioned+SatelliteG17_HOR_6K+Sales_source_InfoDish+Model_UNK+Model_Not_Mentioned+Service_Plan_Home+Model_DW6000+State_OR+Most_Recent_sales_channel_DW7000_Upgrade+Sales_source_LiveBridge_Communications_LLC+AGE+SatelliteSM5_HOR_14K+State_NY+State_IL+State_VA+SatelliteNot_Mentioned+Sales_source_UNKNOWN+Sales_source_ACS+Most_Recent_sales_channel_DW6000_Upgrade+Most_Recent_sales_channel_National_Sales+Most_Recent_sales_channel_Dial_Return_Upgrade+State_AZ+State_MI+SatelliteAM9_VER_2K+Most_Recent_sales_channel_Retail+State_WA+Sales_source_Best_Buy+INCOME+State_AR+Sales_source_Verisign_Web_Ordering+Most_Recent_sales_channel_Retail+State_OH+SatelliteHZN2_VER_4K+Service_Plan_Not_Mentioned+SatelliteSM5_VER_15K+State_MO+Sales_source_PEGASUS_BROADBAND_COMMUNICATIO+Most_Recent_sales_channel_Classic_Migration+State_NM+Sales_source_ACS_Pre_Install+State_TN+SatelliteG16_VER_1K+State_NC+State_WV+State_SC+State_PA+Most_Recent_sales_channel_UNKNOWN+State_FL+State_WI+State_GA+State_MA+State_AL+Sales_source_MiniDish+State_OK+State_IN+State_IA+State_LA+Sales_source_ValueElectronics+Sales_source_Perfect_10+SatelliteAM9_HOR_21K+SatelliteAM9_HOR_19K+Most_Recent_sales_channel_Business_Edition+State_WY+SatelliteSM6_HOR_13K+State_MN+SatelliteHZN_HOR_19K+State_ID'

In [710]:
y, X = dmatrices('ACCOUNT_STATUS~'+features,df, return_type='dataframe')

In [711]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns

C:\Users\kaust\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss
C:\Users\kaust\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

In [712]:
vif.sort_values(by=['VIF Factor'],ascending=False)

     VIF Factor                                    features
37          inf                      Feedback_Not_Mentioned
29          inf                               Satellite0[3]
26          inf                               Satellite0[0]
27          inf                               Satellite0[1]
28          inf                               Satellite0[2]
..          ...                                         ...
87     1.018769                                    State_MA
100    1.015043                        SatelliteSM6_HOR_13K
97     1.013804                        SatelliteAM9_HOR_19K
98     1.012809  Most_Recent_sales_channel_Business_Edition
0      0.000000                                   Intercept

[104 rows x 2 columns]

In [713]:
vif[vif['VIF Factor']>10]

    VIF Factor                          features
3    35.616593  Company_source_nameHNS_Customers
7    37.555551  Direct_Indirect_Channel_Indirect
8   190.835085   Site_Type_Desc_Broadband_Remote
11         inf                      Feedback_BAD
12         inf                     Feedback_GOOD
13  171.758709           Site_Type_Desc_Spaceway
14   34.077543    Direct_Indirect_Channel_Direct
26         inf                     Satellite0[0]
27         inf                     Satellite0[1]
28         inf                     Satellite0[2]
29         inf                     Satellite0[3]
37         inf            Feedback_Not_Mentioned

In [714]:
# Taking features with Variable Inflation factor (VIF) more than 10 into consideration

In [715]:
# Hence following factors contribute to the customer churn for the active customers-->
#  Company_source_name
#  Direct_Indirect_channel
#  Site_Type_desc
#  Feedback
#  Satellite

In [716]:
# List of least common active customers

In [717]:
clusters[clusters["Clusters"]==16][['SITE_ACCOUNT_NUMBER',
 'NAME','CITY',"Company_source_nameHNS Customers","Direct_Indirect_Channel_Indirect"
                                   ,"Site_Type_Desc_Broadband Remote","Feedback_BAD","Feedback_GOOD","Site_Type_Desc_Spaceway",
                                   "Direct_Indirect_Channel_Direct"]]

,SITE_ACCOUNT_NUMBER,NAME,CITY,Company_source_nameHNS Customers,Direct_Indirect_Channel_Indirect,Site_Type_Desc_Broadband Remote,Feedback_BAD,Feedback_GOOD,Site_Type_Desc_Spaceway,Direct_Indirect_Channel_Direct
484,AMR-16515542,AirevaclifaTompkins,WICKENBURG,1,1,0,1,0,1,0
853,AMR-17894265,DennisaHIGGINS,WARREN,1,0,1,0,0,0,1
2059,AMR-22214969,CliffordaBurke,SEAMBOAT SPRINGS,1,0,1,0,1,0,1
2465,AMR-23693792,BradaBenson,SCOTTSDALE,1,1,1,1,0,0,0
4169,AMR-29523715,LarryaClark,STACY,1,1,1,1,0,0,0
4865,AMR-31888071,CYNTHIAaLAUGHING,FREDERICK,1,1,0,0,0,1,0
6531,AMR-37855083,BrianaRemmell,OAKLAND,1,1,1,0,1,0,0
7515,AMR-41208400,CliffordCrihfield,ROCKVILLE,1,1,1,0,1,0,0
8603,AMR-45091794,CliffordMccoy,JACKSON,1,1,0,1,0,1,0

In [195]:
# List of most common active customers

In [718]:
clusters[clusters["Clusters"]==17][['SITE_ACCOUNT_NUMBER',
 'NAME','CITY',"Company_source_nameHNS Customers","Direct_Indirect_Channel_Indirect"
                                   ,"Site_Type_Desc_Broadband Remote","Feedback_BAD","Feedback_GOOD","Site_Type_Desc_Spaceway",
                                   "Direct_Indirect_Channel_Direct"]]

,SITE_ACCOUNT_NUMBER,NAME,CITY,Company_source_nameHNS Customers,Direct_Indirect_Channel_Indirect,Site_Type_Desc_Broadband Remote,Feedback_BAD,Feedback_GOOD,Site_Type_Desc_Spaceway,Direct_Indirect_Channel_Direct
0,AMR-11112345,AceFUTRELL,GERMANTOWN,1,1,1,0,0,0,0
4,AMR-14839297,JoanneaBARNOSKY,CALLICOON,1,1,1,0,1,0,0
5,AMR-14840229,AnneSirkin,FRIENDSWOOD,1,1,1,0,1,0,0
6,AMR-14841940,ArthurJolly,KEARNEY,1,1,1,0,0,0,0
7,AMR-14842501,LarryThomas,POTOMAC,1,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
9976,AMR-49951916,GalenWinks,LOOMIS,1,1,1,0,1,0,0
9981,AMR-49966797,RhodaaWagner,ASHLAND,1,1,1,0,1,0,0
9986,AMR-49977839,EdwardDunahue,PRINCESS ANNE,1,1,1,0,1,0,0
9990,AMR-49994757,EarnestaDearbonne,AUBURN,1,1,1,0,1,0,0
9991,AMR-49995981,STEVEMcginnis,PETALUMA,1,1,1,0,1,0,0

In [197]:
# Having known the key factors that lead to customer churn and the categories of the least and most common active customers 
# we use this information for fulfilling the purpose of increasing the net cash flow

In [198]:
# For retaining the customers as well as reducing the churn rate one can follow the following points for improving the cash 
# flow --


# > Customers left both good and bad feedback regarding the telecom services. The focus needs to be on the converting bad to good 
#   feeback by listening to the customer complaints and reviews while communicating with them via the Indirect channel and
#   thereby improve cash flow.

# > Increase pricing for the happy customers to know their extent in order to increase the cash flow while at the same time 
#   keeping a tab on it.

# > Taking a look at their inventories, especially the site type (Remote or Spaceway), telecom industry can better improve their
#   cash flow by proper management of services.

In [720]:
## CHURN CUSTOMERS :--

In [721]:
## Percentage of Missing values--

In [722]:
(p2.isnull().sum()*100/len(p2)).sort_values(ascending=False).head(10)

COMPUTER_OWNER             32.43
SALES_CHANNEL              26.02
FEEDBACK                   20.28
SERVICE_PLAN               14.82
PRESENCE_OF_CHILDREN       12.52
GENDER                     12.38
SATELLITE                  10.13
UPGRADE_DATE                8.79
DIRECT_INDIRECT_CHANNEL     7.84
MODEL                       7.10
dtype: float64

In [723]:
p2=p2.drop(["COMPUTER_OWNER","SALES_CHANNEL"],axis=1)

In [724]:
# COMPUTER_OWNER and SALES_CHANNEL variables are being dropped as they have more than 25% missing values.

In [343]:
## NUMERICAL VARIABLES :

In [725]:
# Taking Presence of Children, Marital status, Income, Age, Gender, Upgrade date and 1st communication date variables into
# account

In [726]:
# Missing Value Imputation--

In [727]:
# Gender-->

In [728]:
p2["GENDER"]=p2["GENDER"].fillna(0)

In [729]:
p2["GENDER"].isnull().sum()

0

In [730]:
p2["GENDER"].value_counts()

1.0    4982
2.0    3780
0.0    1238
Name: GENDER, dtype: int64

In [731]:
# Presence of Children-->

In [732]:
p2["PRESENCE_OF_CHILDREN"].value_counts()

0.0    5420
1.0    3328
Name: PRESENCE_OF_CHILDREN, dtype: int64

In [733]:
p2["PRESENCE_OF_CHILDREN"].isnull().sum()

1252

In [734]:
p2["PRESENCE_OF_CHILDREN"]=p2["PRESENCE_OF_CHILDREN"].fillna(2)

In [735]:
# Replacing null values with 2 indicates that we can not tell about the presence of children

In [736]:
p2["PRESENCE_OF_CHILDREN"].isnull().sum()

0

In [737]:
p2["PRESENCE_OF_CHILDREN"]=p2["PRESENCE_OF_CHILDREN"].astype(int)

In [738]:
# Marital Status-->

In [739]:
p2["MARITAL_STATUS"].value_counts()

.        3341
0        3053
1        2841
2         484
#REF!      10
Name: MARITAL_STATUS, dtype: int64

In [740]:
p2.loc[p2.MARITAL_STATUS=="#REF!","MARITAL_STATUS"]=3
p2.loc[p2.MARITAL_STATUS==".","MARITAL_STATUS"]=3

In [741]:
p2["MARITAL_STATUS"].isnull().sum()

271

In [742]:
p2["MARITAL_STATUS"]=p2["MARITAL_STATUS"].fillna(3)

In [743]:
# Replacing null, . and #REF values with 3 indicates that we can not tell about the marital status of the person

In [744]:
p2["MARITAL_STATUS"]=p2["MARITAL_STATUS"].astype(int)

In [745]:
# Income-->

In [746]:
p2["INCOME"].value_counts()

0    2326
3    1440
5    1175
4    1171
6    1103
A     551
7     421
2     383
8     379
D     272
9     234
1     228
C     179
B     138
Name: INCOME, dtype: int64

In [747]:
p2["INCOME"].isnull().sum()

0

In [748]:
p2.loc[p2.INCOME=="A","INCOME"]=11
p2.loc[p2.INCOME=="B","INCOME"]=12
p2.loc[p2.INCOME=="C","INCOME"]=13
p2.loc[p2.INCOME=="D","INCOME"]=14

In [749]:
p2["INCOME"]=p2["INCOME"].astype(int)

In [750]:
# Age-->

In [751]:
p2["AGE"].value_counts()

53       325
49       270
56       262
54       253
65       251
        ...
83        13
84        10
89         9
78         8
#REF!      8
Name: AGE, Length: 66, dtype: int64

In [752]:
p2["AGE"].isnull().sum()

0

In [753]:
p2[p2["AGE"]=="."]=0
p2[p2["AGE"]=="#REF!"]=0

In [754]:
p2["AGE"]=p2["AGE"].astype(int)

In [755]:
# First Communication Date-->

In [756]:
p2["FIRST_COMMUNICATION_DATE"].isnull().sum()

0

In [757]:
p2["FIRST_COMMUNICATION_DATE"]=pd.to_datetime(p2["FIRST_COMMUNICATION_DATE"],errors="coerce")

In [758]:
p2["FIRST_COMMUNICATION_DATE_Year"]=pd.DatetimeIndex(p2["FIRST_COMMUNICATION_DATE"]).year

In [759]:
p2["FIRST_COMMUNICATION_DATE_Month"]=pd.DatetimeIndex(p2["FIRST_COMMUNICATION_DATE"]).month

In [760]:
p2["FIRST_COMMUNICATION_DATE_Day"]=pd.DatetimeIndex(p2["FIRST_COMMUNICATION_DATE"]).day

In [761]:
p2["FIRST_COMMUNICATION_DATE_Year"]=p2["FIRST_COMMUNICATION_DATE_Year"].fillna(0)

In [762]:
p2["FIRST_COMMUNICATION_DATE_Month"]=p2["FIRST_COMMUNICATION_DATE_Month"].fillna(0)

In [763]:
p2["FIRST_COMMUNICATION_DATE_Day"]=p2["FIRST_COMMUNICATION_DATE_Day"].fillna(0)

In [764]:
p2[["FIRST_COMMUNICATION_DATE_Year","FIRST_COMMUNICATION_DATE_Month","FIRST_COMMUNICATION_DATE_Day"]].isnull().sum()

FIRST_COMMUNICATION_DATE_Year     0
FIRST_COMMUNICATION_DATE_Month    0
FIRST_COMMUNICATION_DATE_Day      0
dtype: int64

In [765]:
# Upgrade Date-->

In [766]:
p2["UPGRADE_DATE"].isnull().sum()

879

In [767]:
p2["UPGRADE_DATE"]=pd.to_datetime(p2["UPGRADE_DATE"],errors="coerce")

In [768]:
p2["UPGRADE_DATE_Year"]=pd.DatetimeIndex(p2["UPGRADE_DATE"]).year

In [769]:
p2["UPGRADE_DATE_Month"]=pd.DatetimeIndex(p2["UPGRADE_DATE"]).month

In [770]:
p2["UPGRADE_DATE_Day"]=pd.DatetimeIndex(p2["UPGRADE_DATE"]).day

In [771]:
p2["UPGRADE_DATE_Year"]=p2["UPGRADE_DATE_Year"].fillna(0)

In [772]:
p2["UPGRADE_DATE_Month"]=p2["UPGRADE_DATE_Month"].fillna(0)

In [773]:
p2["UPGRADE_DATE_Day"]=p2["UPGRADE_DATE_Day"].fillna(0)

In [774]:
p2[["UPGRADE_DATE_Year","UPGRADE_DATE_Month","UPGRADE_DATE_Day"]].isnull().sum()

UPGRADE_DATE_Year     0
UPGRADE_DATE_Month    0
UPGRADE_DATE_Day      0
dtype: int64

In [392]:
## CATEGORICAL VARIABLES :

In [775]:
# Taling Service plan, Most recent sales channel, Direct Indirect channel, sales source, company source name, state,
# feedback, site type desc, model and satellite into account

In [776]:
# Missing Value Imputation--

In [777]:
p2['SERVICE_PLAN']=p2['SERVICE_PLAN'].fillna("Not Mentioned")

In [778]:
p2['MODEL']=p2['MODEL'].fillna("Not Mentioned")

In [779]:
p2['DIRECT_INDIRECT_CHANNEL']=p2['DIRECT_INDIRECT_CHANNEL'].fillna("Not Mentioned")

In [780]:
p2['SALES_SOURCE']=p2['SALES_SOURCE'].fillna("Not Mentioned")

In [781]:
p2['COMPANY_SOURCE_NAME']=p2['COMPANY_SOURCE_NAME'].fillna("Not Mentioned")

In [782]:
p2['SATELLITE']=p2['SATELLITE'].fillna("Not Mentioned")

In [783]:
p2["STATE"]=p2["STATE"].fillna("Not Mentioned")

In [784]:
p2["SITE_TYPE_DESC"]=p2["SITE_TYPE_DESC"].fillna("Not Mentioned")

In [785]:
p2["MOST_RECENT_SALES_CHANNEL"]=p2["MOST_RECENT_SALES_CHANNEL"].fillna("Not Mentioned")

In [786]:
p2['FEEDBACK']=p2['FEEDBACK'].fillna("Not Mentioned")

In [787]:
p2[['SERVICE_PLAN', 'MODEL','DIRECT_INDIRECT_CHANNEL', 'SALES_SOURCE', 'COMPANY_SOURCE_NAME','FEEDBACK', 
    'SATELLITE',"STATE","SITE_TYPE_DESC","MOST_RECENT_SALES_CHANNEL"]].isnull().sum()

SERVICE_PLAN                 0
MODEL                        0
DIRECT_INDIRECT_CHANNEL      0
SALES_SOURCE                 0
COMPANY_SOURCE_NAME          0
FEEDBACK                     0
SATELLITE                    0
STATE                        0
SITE_TYPE_DESC               0
MOST_RECENT_SALES_CHANNEL    0
dtype: int64

In [788]:
# Dummy creation for categorical variables--

In [789]:
cat1=pd.get_dummies(p2['SERVICE_PLAN'])

In [790]:
cat1=cat1.add_prefix("Service_Plan_")

In [791]:
cat2=pd.get_dummies(p2['MODEL'])

In [792]:
cat2=cat2.add_prefix("Model_")

In [793]:
cat3=pd.get_dummies(p2['DIRECT_INDIRECT_CHANNEL'])

In [794]:
cat3=cat3.add_prefix("Direct_Indirect_Channel_")

In [795]:
cat4=pd.get_dummies(p2['SALES_SOURCE'])

In [796]:
cat4=cat4.add_prefix("Sales_source_")

In [797]:
cat5=pd.get_dummies(p2['COMPANY_SOURCE_NAME'])

In [798]:
cat5=cat5.add_prefix("Company_source_name")

In [799]:
cat6=pd.get_dummies(p2['SATELLITE'])

In [800]:
cat6=cat6.add_prefix("Satellite")

In [801]:
cat7=pd.get_dummies(p2['STATE'])

In [802]:
cat7=cat7.add_prefix("State_")

In [803]:
cat8=pd.get_dummies(p2['SITE_TYPE_DESC'])

In [804]:
cat8=cat8.add_prefix("Site_Type_Desc_")

In [805]:
cat9=pd.get_dummies(p2['MOST_RECENT_SALES_CHANNEL'])

In [806]:
cat9=cat9.add_prefix("Most_Recent_sales_channel_")

In [807]:
cat10=pd.get_dummies(p2['FEEDBACK'])

In [808]:
cat10=cat10.add_prefix("Feedback_")

In [809]:
p2=p2.drop(['SERVICE_PLAN', 'MODEL','DIRECT_INDIRECT_CHANNEL', 'SALES_SOURCE', 'COMPANY_SOURCE_NAME','FEEDBACK', 
    'SATELLITE',"STATE","SITE_TYPE_DESC","MOST_RECENT_SALES_CHANNEL"],axis=1)

In [429]:
# Merging dummy categorical variables with the original dataset.

In [810]:
p2=pd.concat([p2,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10],axis=1)

In [811]:
p2.head()

,SITE_ACCOUNT_NUMBER,ACCOUNT_STATUS,FIRST_COMMUNICATION_DATE,CHURN_DATE,UPGRADE_DATE,FIRST_NAME,LAST_NAME,ADDRESS,CITY,ZIPCODE,...,Most_Recent_sales_channel_National Sales,Most_Recent_sales_channel_Not Mentioned,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_Retail - Direct Order,Most_Recent_sales_channel_UNKNOWN,Most_Recent_sales_channel_Used Equipment,Feedback_0,Feedback_BAD,Feedback_GOOD,Feedback_Not Mentioned
0,AMR-53205840,Closed,2002-01-18,4/2/2006,2004-01-03,Rennisa,Branson,826 Nesom Rd.,TRINITY,75862,...,0,0,0,0,0,0,0,1,0,0
1,AMR-53383136,Closed,2002-01-02,7/9/2006,2004-07-28,Howard,Dachs,25 Valley View Lane,AVA,65608,...,1,0,0,0,0,0,0,1,0,0
2,AMR-53608585,Closed,2002-01-06,12/30/2008,2005-04-27,Pavel,Groisman,920 rockhold dr,THURMONT,21788,...,0,0,0,0,0,0,0,1,0,0
3,AMR-53610590,Closed,2002-01-05,8/19/2004,NaT,Stoneysmita,Stoneysmith,2501dune forest,KENEDY,78119,...,0,0,0,0,0,0,0,0,1,0
4,AMR-53612154,Closed,2002-01-05,8/17/2006,2005-11-12,Bryana,Emilio,RR 1 Box 134-1,LOVELL,4051,...,0,0,0,0,0,0,0,0,0,1

In [812]:
# Multi-Index Creation--

In [813]:
p2["NAME"]=p2['FIRST_NAME']+ p2['LAST_NAME']

In [814]:
p2=p2.set_index(["SITE_ACCOUNT_NUMBER","NAME","EMAIL_ADDRESS","CITY"])

In [815]:
p2_select=p2.select_dtypes(["int32","float","uint8","float64"])

In [816]:
p2_select.head()

,,,,GENDER,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,UPGRADE_DATE_Year,UPGRADE_DATE_Month,UPGRADE_DATE_Day,Service_Plan_0,Service_Plan_Basic,...,Most_Recent_sales_channel_National Sales,Most_Recent_sales_channel_Not Mentioned,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_Retail - Direct Order,Most_Recent_sales_channel_UNKNOWN,Most_Recent_sales_channel_Used Equipment,Feedback_0,Feedback_BAD,Feedback_GOOD,Feedback_Not Mentioned
SITE_ACCOUNT_NUMBER,NAME,EMAIL_ADDRESS,CITY,,,,,,,,,,,,,,,,,,,,,
AMR-53205840,RennisaBranson,rbranson@southerninspection.co,TRINITY,2.0,48,0,3,2,2004.0,1.0,3.0,0,0,...,0,0,0,0,0,0,0,1,0,0
AMR-53383136,HowardDachs,howvood@hughes.net,AVA,0.0,47,5,0,0,2004.0,7.0,28.0,0,0,...,1,0,0,0,0,0,0,1,0,0
AMR-53608585,PavelGroisman,pavel.groisman@hughes.net,THURMONT,2.0,61,8,1,0,2005.0,4.0,27.0,0,0,...,0,0,0,0,0,0,0,1,0,0
AMR-53610590,StoneysmitaStoneysmith,jfary@hughes.net,KENEDY,1.0,64,0,3,2,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,0,0,1,0
AMR-53612154,BryanaEmilio,dp_photo@hughes.net,LOVELL,1.0,56,6,0,0,2005.0,11.0,12.0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [817]:
# Taking Account Status as a dependent variable

In [818]:
p2_select2=pd.concat([p2_select,p2["ACCOUNT_STATUS"]],axis=1)

In [819]:
p2_select2["ACCOUNT_STATUS"]=np.where((p2_select2["ACCOUNT_STATUS"]=="Closed"),1,0)

In [820]:
p2_select2.head()

,,,,GENDER,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,UPGRADE_DATE_Year,UPGRADE_DATE_Month,UPGRADE_DATE_Day,Service_Plan_0,Service_Plan_Basic,...,Most_Recent_sales_channel_Not Mentioned,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_Retail - Direct Order,Most_Recent_sales_channel_UNKNOWN,Most_Recent_sales_channel_Used Equipment,Feedback_0,Feedback_BAD,Feedback_GOOD,Feedback_Not Mentioned,ACCOUNT_STATUS
SITE_ACCOUNT_NUMBER,NAME,EMAIL_ADDRESS,CITY,,,,,,,,,,,,,,,,,,,,,
AMR-53205840,RennisaBranson,rbranson@southerninspection.co,TRINITY,2.0,48,0,3,2,2004.0,1.0,3.0,0,0,...,0,0,0,0,0,0,1,0,0,1
AMR-53383136,HowardDachs,howvood@hughes.net,AVA,0.0,47,5,0,0,2004.0,7.0,28.0,0,0,...,0,0,0,0,0,0,1,0,0,1
AMR-53608585,PavelGroisman,pavel.groisman@hughes.net,THURMONT,2.0,61,8,1,0,2005.0,4.0,27.0,0,0,...,0,0,0,0,0,0,1,0,0,1
AMR-53610590,StoneysmitaStoneysmith,jfary@hughes.net,KENEDY,1.0,64,0,3,2,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,0,1,0,1
AMR-53612154,BryanaEmilio,dp_photo@hughes.net,LOVELL,1.0,56,6,0,0,2005.0,11.0,12.0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [821]:
## FACTOR ANALYSIS:

In [822]:
factor=FactorAnalysis(20).fit(p2_select2)

In [823]:
F_analysis=pd.DataFrame(factor.components_,columns=p2_select2.columns)

In [824]:
F_analysis=F_analysis.T

In [825]:
F_analysis=F_analysis.add_prefix('Factor_')

In [826]:
F_analysis

,Factor_0,Factor_1,Factor_2,Factor_3,Factor_4,Factor_5,Factor_6,Factor_7,Factor_8,Factor_9,Factor_10,Factor_11,Factor_12,Factor_13,Factor_14,Factor_15,Factor_16,Factor_17,Factor_18,Factor_19
GENDER,0.002511,-0.005440,-0.003701,-0.004213,-0.000505,-0.024412,-0.026831,-0.003594,4.702070e-04,7.508137e-03,-4.694310e-03,3.678891e-03,5.127418e-03,5.867032e-03,-1.511856e-03,3.092042e-03,-4.232932e-03,1.403770e-03,-1.046709e-03,9.070750e-03
AGE,0.386581,-0.201969,0.212319,0.021773,-0.149026,-1.074755,-0.900771,0.029564,-6.018394e-02,1.422005e+01,1.164292e-01,-3.615279e-02,-4.253710e-02,-1.087665e-02,-3.362784e-02,-5.871838e-03,-7.398304e-04,-5.426530e-03,9.499618e-04,2.162656e-03
INCOME,1.454574,-0.216736,0.727086,-0.174551,-0.071098,-0.217207,0.053701,-0.008604,-3.148364e-01,2.832902e-04,-1.058500e-02,2.975726e-02,3.255184e-02,-4.448758e-02,-1.399757e-02,3.894319e-02,3.126981e+00,-3.877696e-01,-1.809335e-01,-1.042607e-01
MARITAL_STATUS,-0.007640,0.020059,0.001687,-0.008950,0.012362,-0.033139,-0.022031,0.026359,3.109898e-03,-8.004726e-03,-5.262138e-03,-9.155494e-03,-1.021172e-02,4.946810e-03,1.440725e-02,1.136365e-02,-6.332171e-02,6.263329e-03,9.242749e-04,-3.253464e-03
PRESENCE_OF_CHILDREN,-0.035055,0.009315,-0.070153,0.013624,0.012282,-0.006314,-0.018894,0.000363,9.188282e-02,-5.462319e-03,-2.799869e-03,-1.573512e-03,-1.757269e-03,4.287098e-03,1.115204e-03,7.068232e-03,-3.100559e-01,4.301336e-02,1.357627e-02,2.316408e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Feedback_0,0.000257,0.000375,-0.000051,0.000224,0.000786,0.021638,0.017958,-0.002793,2.024235e-09,5.883999e-11,7.998122e-13,6.514291e-12,-8.051301e-12,-8.520128e-13,1.265650e-12,-2.702925e-12,9.440396e-13,8.024856e-13,-1.156870e-12,3.031007e-13
Feedback_BAD,-0.228757,-0.102545,0.424779,-0.081128,-0.005087,-0.007172,-0.005857,0.000913,1.011335e-08,-2.111356e-11,-2.438797e-12,-1.167518e-12,1.813641e-12,-3.009964e-13,-5.566642e-13,1.817199e-13,-1.254114e-12,2.542409e-13,6.237479e-13,-1.849408e-12
Feedback_GOOD,0.225725,0.062561,-0.264726,-0.285614,0.001385,-0.007131,-0.006032,0.000936,-1.166414e-08,-1.896688e-11,-6.291714e-15,-5.225805e-12,3.397339e-12,1.015484e-12,-8.354738e-13,6.201759e-13,-1.162843e-12,7.079787e-14,7.078673e-13,1.387212e-13
Feedback_Not Mentioned,0.002776,0.039609,-0.160002,0.366518,0.002917,-0.007335,-0.006068,0.000945,-4.734478e-10,-1.875955e-11,1.645270e-12,-1.209665e-13,2.840322e-12,1.375327e-13,1.264888e-13,1.901025e-12,1.472917e-12,-1.127524e-12,-1.747427e-13,1.407590e-12
ACCOUNT_STATUS,-0.000575,-0.000521,0.000038,0.000072,-0.000689,-0.021526,-0.018020,0.002835,4.597657e-04,5.514135e-04,-3.489767e-04,7.910810e-05,-2.405443e-05,4.061068e-05,6.876907e-04,3.838336e-05,-1.866884e-04,1.989411e-04,-1.031166e-04,4.298742e-04

In [827]:
# KMEANS CLUSTERING :

In [828]:
sc=StandardScaler()

In [829]:
scale=sc.fit_transform(p2_select2)

In [830]:
km=KMeans(n_clusters=20)

In [831]:
km.fit(scale)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=20, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [832]:
pd.Series(km.labels_).value_counts()

8     2038
2     1505
1     1294
14    1115
3      937
4      928
13     569
5      515
16     488
0      377
15     118
10      23
7       22
12      16
6       13
9       11
18       9
11       8
17       7
19       7
dtype: int64

In [833]:
pindex=p2_select2.reset_index()

In [834]:
clusters=pd.concat([pindex, pd.Series(km.labels_, name='Clusters')], axis=1)

In [835]:
clusters

,SITE_ACCOUNT_NUMBER,NAME,EMAIL_ADDRESS,CITY,GENDER,AGE,INCOME,MARITAL_STATUS,PRESENCE_OF_CHILDREN,UPGRADE_DATE_Year,...,Most_Recent_sales_channel_Retail,Most_Recent_sales_channel_Retail - Direct Order,Most_Recent_sales_channel_UNKNOWN,Most_Recent_sales_channel_Used Equipment,Feedback_0,Feedback_BAD,Feedback_GOOD,Feedback_Not Mentioned,ACCOUNT_STATUS,Clusters
0,AMR-53205840,RennisaBranson,rbranson@southerninspection.co,TRINITY,2.0,48,0,3,2,2004.0,...,0,0,0,0,0,1,0,0,1,8
1,AMR-53383136,HowardDachs,howvood@hughes.net,AVA,0.0,47,5,0,0,2004.0,...,0,0,0,0,0,1,0,0,1,6
2,AMR-53608585,PavelGroisman,pavel.groisman@hughes.net,THURMONT,2.0,61,8,1,0,2005.0,...,0,0,0,0,0,1,0,0,1,8
3,AMR-53610590,StoneysmitaStoneysmith,jfary@hughes.net,KENEDY,1.0,64,0,3,2,0.0,...,0,0,0,0,0,0,1,0,1,8
4,AMR-53612154,BryanaEmilio,dp_photo@hughes.net,LOVELL,1.0,56,6,0,0,2005.0,...,0,0,0,0,0,0,0,1,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Q-94945717,KevinABBE,KevinABBE700@crusin.com,MERRYVILLE,2.0,49,3,3,1,2010.0,...,0,0,0,0,0,0,1,0,1,5
9996,Q-94977539,Song BirdRamirez,Song BirdRamirez547@hotmail.com,MT PLEASANT,2.0,38,2,1,1,2010.0,...,0,0,0,0,0,0,0,1,1,1
9997,T000078824,RoyBlaha,impulsee@pacbell.net,ETTA,2.0,67,8,0,0,0.0,...,0,0,0,0,0,1,0,0,1,8
9998,T000079618,ToddaThompson,crm8rem@hns.com,WILLOW PARK,1.0,63,0,3,2,2004.0,...,0,0,0,0,0,1,0,0,1,13
9999,T000080092,RussellaYamazaki,astronstar@hotmail.com,ROSEBURG,1.0,43,0,3,2,2006.0,...,0,0,0,0,0,1,0,0,1,8

In [836]:
# BUILDING MODELS :

In [837]:
train_x, test_x, train_y, test_y = train_test_split(p2_select2[p2_select2.columns[:-1]],
                                                  p2_select2['ACCOUNT_STATUS'],
                                                  test_size=0.3,
                                                  random_state=125)

In [838]:
# Logistic Regression--

In [839]:
lr=LogisticRegression()

In [840]:
xx=lr.fit(train_x, train_y)

In [841]:
pre1=lr.predict(test_x)

In [842]:
acc1=lr.score(test_x,test_y)

In [843]:
acc1*100

99.73333333333333

In [844]:
mae1=metrics.mean_absolute_error(test_y,pre1)
mae1

0.0026666666666666666

In [845]:
rmse1=np.sqrt(metrics.mean_squared_error(test_y,pre1))
rmse1

0.051639777949432225

In [846]:
## Logistic Regression Model Validation-->
#   Accuracy score         - 99.733   
#   Mean absolute error    - 0.0026
#   Root mean square error - 0.0516

In [847]:
# KNN Regressor--

In [848]:
knn=KNeighborsRegressor(n_neighbors=10,n_jobs=5)

In [849]:
kn_fit=knn.fit(train_x,train_y)

In [850]:
pre2=knn.predict(test_x)

In [851]:
acc2=knn.score(test_x,test_y)

In [852]:
acc2*100

12.809364548494962

In [853]:
mae2=metrics.mean_absolute_error(test_y,pre2)
mae2

0.0041

In [854]:
rmse2=np.sqrt(metrics.mean_squared_error(test_y,pre2))
rmse2

0.05382068994974578

In [ ]:
## KNN Regressor Model Validation-->
#   Accuracy score         - 12.809   
#   Mean absolute error    - 0.0041
#   Root mean square error - 0.0538

In [855]:
# Linear Regression--

In [856]:
lm=LinearRegression(normalize=True)

In [857]:
lm_fit=lm.fit(train_x,train_y)

In [858]:
pre3=lm.predict(test_x)

In [859]:
acc3=lm.score(test_x,test_y)

In [860]:
acc3*100

15.781068114133955

In [861]:
mae3=metrics.mean_absolute_error(test_y,pre3)
mae3

0.0064510498046875

In [862]:
rmse3=np.sqrt(metrics.mean_squared_error(test_y,pre3))
rmse3

0.05289555813516327

In [479]:
## Linear Regression Model Validation-->
#   Accuracy score         - 15.781   
#   Mean absolute error    - 0.0064
#   Root mean square error - 0.0528

In [ ]:
# Logistic Regression model has the highest accuracy and shows least errors, therefore we choose this model
# finding the key factors that would contribute to churn

In [863]:
lr_col=pd.DataFrame(xx.coef_)

In [864]:
lr_col.columns=train_x.columns

In [865]:
lr_col_new=lr_col.T

In [866]:
lr_col_new.columns=["Coefficients"]

In [867]:
lr_features=lr_col_new.sort_values(ascending=False,by="Coefficients")

In [868]:
lr_features=lr_features.reset_index()

In [869]:
lr_features.columns=["Features","Coefficients"]

In [870]:
lr_features

                                              Features  Coefficients
0                     Most_Recent_sales_channel_Direct      0.978274
1                                 PRESENCE_OF_CHILDREN      0.962105
2                                        Model_HN7000S      0.671657
3                     Company_source_nameHNS Customers      0.588303
4        Most_Recent_sales_channel_Hughes Sales Agents      0.539112
..                                                 ...           ...
259  Sales_source_Independent Installations LLC (RS...     -0.821502
260                                          State_ NJ     -0.872325
261                                          State_ DE     -0.896056
262               Sales_source_American Satellite (SA)     -0.949676
263                 Sales_source_DS Technologies (DOW)     -0.956715

[264 rows x 2 columns]

In [871]:
# Taking top 100 features based on their coefficients

In [872]:
rank=lr_features.loc[0:100,['Features']]

In [873]:
feature_list=['Most_Recent_sales_channel_Direct', 'PRESENCE_OF_CHILDREN', 'Model_HN7000S', 'Company_source_nameHNS Customers',
 'Most_Recent_sales_channel_Hughes Sales Agents', 'SatelliteNot Mentioned', 'State_ CA', 'Feedback_BAD',
 'State_ TX', 'Site_Type_Desc_Spaceway', 'Sales_source_Red Ventures LLC (SA)', 'Service_Plan_Home', 'Direct_Indirect_Channel_Not Mentioned',
 'Sales_source_Communication Solutions LLC (CC)', 'Most_Recent_sales_channel_Used Equipment',
 'Service_Plan_Proplus', 'State_ NY', 'Service_Plan_Power15', 'Sales_source_Hughes Web Order',
 'SatelliteHZN-HOR-8K', 'Sales_source_I-Dish.com LLC (SA)', 'State_ CO', 'Model_DW4000', 'Service_Plan_Basic_Ltd',
 'SatelliteG28-HOR-16K', 'Sales_source_ACS', 'Service_Plan_Professional', 'Service_Plan_Professional Plus',
 'Direct_Indirect_Channel_Indirect', 'Sales_source_DialAmerica Marketing Inc (CC)', 'SatelliteHZN-VER-23K', 'Sales_source_Not Mentioned',
 'SatelliteG26-HOR-14K', 'State_ AR', 'SatelliteAM6-HOR-21K', 'Service_Plan_Pro', 'State_ MI', 'Sales_source_NationWide Satellite (SA)',
 'State_ MO', 'State_ AZ', 'SatelliteAM9-HOR-17K', 'SatelliteSM5-VER-7K', 'State_ MS', 'Site_Type_Desc_Broadband Remote',
 'SatelliteAMC-VER-5K', 'State_ OR', 'Most_Recent_sales_channel_HN7000 Upgrade', 'State_ PA', 'State_ OK', 'Feedback_GOOD',
 'Model_HN9000', 'State_ AL', 'State_ MT', 'State_ NC', 'State_ NM', 'Sales_source_ACS Pre-Install', 'State_ GA', 'GENDER',
 'State_ IA', 'Sales_source_Elite Satellite and Home Theater Inc (S', 'Most_Recent_sales_channel_DW6000 Upgrade',
 'State_ FL', 'State_ LA', 'State_ OH', 'Most_Recent_sales_channel_National Sales', 'AGE', 'State_ TN', 'Sales_source_Best Buy',
 'State_ KS', 'State_ KY', 'Most_Recent_sales_channel_DPC Classic upgrade', 'Company_source_name#REF!',
 'Sales_source_Electronic Express (SA)', 'Most_Recent_sales_channel_Retail', 'Model_DW7000', 'Most_Recent_sales_channel_Distributor Sales Age',
 'State_ IN', 'Sales_source_Perfect 10', 'State_ WI', 'UPGRADE_DATE_Day', 'State_ MN', 'Sales_source_MyNet LLC (SA)',
 'UPGRADE_DATE_Month', 'Sales_source_AmericanSat', 'Sales_source_Buy Telco', 'Sales_source_EBN Financial dba Dish Systems (SA)',
 'Sales_source_RS&I', 'State_ NV', 'Sales_source_Blacksheep Classic Airplane CO dba Blac', 'Sales_source_Geosearch Logging Inc (RSI578404)',
 'Sales_source_GoDish.com Ltd LLP (SA)', 'State_ NH', 'State_ VT', 'State_ MA', 'Sales_source_Professional Broadband Solutions (P10)', 'State_ WV',
 'Sales_source_Qcorps Residential Inc dba WhiteFence (', 'Feedback_Not Mentioned', 'Site_Type_Desc_Not Mentioned', 'State_ ID',
 'Most_Recent_sales_channel_DW7000 Upgrade']
feature_list.append('ACCOUNT_STATUS')

In [874]:
df=p2_select2[feature_list]

In [875]:
df.columns=['Most_Recent_sales_channel_Direct', 'PRESENCE_OF_CHILDREN', 'Model_HN7000S', 'Company_source_nameHNS_Customers',
 'Most_Recent_sales_channel_Hughes_Sales_Agents', 'SatelliteNot_Mentioned', 'State_CA', 'Feedback_BAD',
 'State_TX', 'Site_Type_Desc_Spaceway', 'Sales_source_Red_Ventures_LLC_SA', 'Service_Plan_Home', 'Direct_Indirect_Channel_Not_Mentioned',
 'Sales_source_Communication_Solutions_LLC_CC', 'Most_Recent_sales_channel_Used_Equipment', 'Service_Plan_Proplus', 'State_NY',
 'Service_Plan_Power15', 'Sales_source_Hughes_Web_Order', 'SatelliteHZN_HOR_8K', 'Sales_source_I_Dish_LLCSA',
 'State_CO', 'Model_DW4000', 'Service_Plan_Basic_Ltd', 'SatelliteG28_HOR_16K', 'Sales_source_ACS', 'Service_Plan_Professional', 'Service_Plan_Professional_Plus',
 'Direct_Indirect_Channel_Indirect', 'Sales_source_DialAmerica_Marketing_Inc_CC', 'SatelliteHZN_VER_23K',
 'Sales_source_Not_Mentioned', 'SatelliteG26_HOR_14K', 'State_AR', 'SatelliteAM6_HOR_21K', 'Service_Plan_Pro',
 'State_MI', 'Sales_source_NationWide_Satellite_SA', 'State_MO', 'State_AZ', 'SatelliteAM9_HOR_17K', 'SatelliteSM5_VER_7K', 'State_MS',
 'Site_Type_Desc_Broadband_Remote', 'SatelliteAMC_VER_5K', 'State_OR', 'Most_Recent_sales_channel_HN7000_Upgrade',
 'State_PA', 'State_OK', 'Feedback_GOOD', 'Model_HN9000', 'State_AL', 'State_MT', 'State_NC', 'State_NM',
 'Sales_source_ACS_Pre_Install', 'State_GA', 'GENDER', 'State_IA', 'Sales_source_Elite_Satellite_and_Home_Theater_Inc',
 'Most_Recent_sales_channel_DW6000_Upgrade', 'State_FL', 'State_LA', 'State_OH', 'Most_Recent_sales_channel_National_Sales',
 'AGE', 'State_TN', 'Sales_source_Best_Buy', 'State_KS', 'State_KY', 'Most_Recent_sales_channel_DPC_Classic_upgrade',
 'Company_source_nameREF', 'Sales_source_Electronic_Express_SA', 'Most_Recent_sales_channel_Retail', 'Model_DW7000',
 'Most_Recent_sales_channel_Distributor_Sales_Age', 'State_IN', 'Sales_source_Perfect_10', 'State_WI',
 'UPGRADE_DATE_Day', 'State_MN', 'Sales_source_MyNet_LLC_SA', 'UPGRADE_DATE_Month', 'Sales_source_AmericanSat',
 'Sales_source_Buy_Telco', 'Sales_source_EBN_Financial_dba_Dish_Systems_SA', 'Sales_source_RSandI', 'State_NV',
 'Sales_source_Blacksheep_Classic_Airplane_CO_dba_Blac', 'Sales_source_Geosearch_Logging_Inc_RSI578404', 'Sales_source_GoDish_Ltd_LLP_SA', 'State_NH',
 'State_VT', 'State_MA', 'Sales_source_Professional_Broadband_Solutions_P10', 'State_WV',
 'Sales_source_Qcorps_Residential_Inc_dba_WhiteFence', 'Feedback_Not_Mentioned', 'Site_Type_Desc_Not_Mentioned',
 'State_ID', 'Most_Recent_sales_channel_DW7000_Upgrade','ACCOUNT_STATUS']

In [876]:
new_list=['Most_Recent_sales_channel_Direct', 'PRESENCE_OF_CHILDREN', 'Model_HN7000S', 'Company_source_nameHNS_Customers',
 'Most_Recent_sales_channel_Hughes_Sales_Agents', 'SatelliteNot_Mentioned', 'State_CA', 'Feedback_BAD',
 'State_TX', 'Site_Type_Desc_Spaceway', 'Sales_source_Red_Ventures_LLC_SA', 'Service_Plan_Home', 'Direct_Indirect_Channel_Not_Mentioned',
 'Sales_source_Communication_Solutions_LLC_CC', 'Most_Recent_sales_channel_Used_Equipment', 'Service_Plan_Proplus', 'State_NY',
 'Service_Plan_Power15', 'Sales_source_Hughes_Web_Order', 'SatelliteHZN_HOR_8K', 'Sales_source_I_Dish_LLCSA',
 'State_CO', 'Model_DW4000', 'Service_Plan_Basic_Ltd', 'SatelliteG28_HOR_16K', 'Sales_source_ACS', 'Service_Plan_Professional', 'Service_Plan_Professional_Plus',
 'Direct_Indirect_Channel_Indirect', 'Sales_source_DialAmerica_Marketing_Inc_CC', 'SatelliteHZN_VER_23K',
 'Sales_source_Not_Mentioned', 'SatelliteG26_HOR_14K', 'State_AR', 'SatelliteAM6_HOR_21K', 'Service_Plan_Pro',
 'State_MI', 'Sales_source_NationWide_Satellite_SA', 'State_MO', 'State_AZ', 'SatelliteAM9_HOR_17K', 'SatelliteSM5_VER_7K', 'State_MS',
 'Site_Type_Desc_Broadband_Remote', 'SatelliteAMC_VER_5K', 'State_OR', 'Most_Recent_sales_channel_HN7000_Upgrade',
 'State_PA', 'State_OK', 'Feedback_GOOD', 'Model_HN9000', 'State_AL', 'State_MT', 'State_NC', 'State_NM',
 'Sales_source_ACS_Pre_Install', 'State_GA', 'GENDER', 'State_IA', 'Sales_source_Elite_Satellite_and_Home_Theater_Inc',
 'Most_Recent_sales_channel_DW6000_Upgrade', 'State_FL', 'State_LA', 'State_OH', 'Most_Recent_sales_channel_National_Sales',
 'AGE', 'State_TN', 'Sales_source_Best_Buy', 'State_KS', 'State_KY', 'Most_Recent_sales_channel_DPC_Classic_upgrade',
 'Company_source_nameREF', 'Sales_source_Electronic_Express_SA', 'Most_Recent_sales_channel_Retail', 'Model_DW7000',
 'Most_Recent_sales_channel_Distributor_Sales_Age', 'State_IN', 'Sales_source_Perfect_10', 'State_WI',
 'UPGRADE_DATE_Day', 'State_MN', 'Sales_source_MyNet_LLC_SA', 'UPGRADE_DATE_Month', 'Sales_source_AmericanSat',
 'Sales_source_Buy_Telco', 'Sales_source_EBN_Financial_dba_Dish_Systems_SA', 'Sales_source_RSandI', 'State_NV',
 'Sales_source_Blacksheep_Classic_Airplane_CO_dba_Blac', 'Sales_source_Geosearch_Logging_Inc_RSI578404', 'Sales_source_GoDish_Ltd_LLP_SA', 'State_NH',
 'State_VT', 'State_MA', 'Sales_source_Professional_Broadband_Solutions_P10', 'State_WV',
 'Sales_source_Qcorps_Residential_Inc_dba_WhiteFence', 'Feedback_Not_Mentioned', 'Site_Type_Desc_Not_Mentioned',
 'State_ID', 'Most_Recent_sales_channel_DW7000_Upgrade','ACCOUNT_STATUS']

In [877]:
# Dealing with Multi-Collinearity--

In [878]:
del new_list[-1]

In [879]:
features = "+".join(new_list)

In [880]:
y, X = dmatrices('ACCOUNT_STATUS~'+features,df, return_type='dataframe')

In [881]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns

C:\Users\kaust\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

In [882]:
vif.sort_values(by=['VIF Factor'],ascending=False)

    VIF Factor                                           features
44         inf                    Site_Type_Desc_Broadband_Remote
99         inf                       Site_Type_Desc_Not_Mentioned
98         inf                             Feedback_Not_Mentioned
4          inf                   Company_source_nameHNS_Customers
72         inf                             Company_source_nameREF
..         ...                                                ...
82    1.020467                          Sales_source_MyNet_LLC_SA
89    1.018768  Sales_source_Blacksheep_Classic_Airplane_CO_db...
95    1.014561  Sales_source_Professional_Broadband_Solutions_P10
58    1.010003                                             GENDER
90    1.008694       Sales_source_Geosearch_Logging_Inc_RSI578404

[102 rows x 2 columns]

In [883]:
vif[vif['VIF Factor']>10]

     VIF Factor                          features
0   1250.076775                         Intercept
4           inf  Company_source_nameHNS_Customers
8           inf                      Feedback_BAD
10          inf           Site_Type_Desc_Spaceway
44          inf   Site_Type_Desc_Broadband_Remote
50          inf                     Feedback_GOOD
72          inf            Company_source_nameREF
98          inf            Feedback_Not_Mentioned
99          inf      Site_Type_Desc_Not_Mentioned

In [ ]:
# Hence following factors can contribute to the customer churn for the churn customers-->
#  Company_source_name
#  Site_Type_desc
#  Feedback

In [ ]:
# List of least common churn customers--

In [884]:
clusters[clusters["Clusters"]==19][['SITE_ACCOUNT_NUMBER',
 'NAME','CITY',"Company_source_nameHNS Customers"
                                   ,"Site_Type_Desc_Broadband Remote","Feedback_BAD","Feedback_GOOD","Site_Type_Desc_Spaceway"]]

,SITE_ACCOUNT_NUMBER,NAME,CITY,Company_source_nameHNS Customers,Site_Type_Desc_Broadband Remote,Feedback_BAD,Feedback_GOOD,Site_Type_Desc_Spaceway
504,AMR-90268537,ingridPritchett,TILLATOBA,1,0,1,0,1
5559,AMR-93937356,Richardfoster,MEDINA,1,0,1,0,1
5750,AMR-94092148,FREDDYaHatcher,ROCKVILLE,1,0,0,0,1
7017,DSS6787734,CraigMorrow,MONTICELLO,1,1,0,1,0
7857,DSS-92039517,larryBerger,GRAND LEDGE,1,1,0,1,0
9412,Q-90693570,kathyaTomashowski,BENSON,1,0,0,1,1
9949,Q-94721564,JOEaCOUSINS,EDGAR,1,0,0,0,1

In [ ]:
# List of most common churn customers--

In [885]:
clusters[clusters["Clusters"]==8][['SITE_ACCOUNT_NUMBER',
 'NAME','CITY',"Company_source_nameHNS Customers"
                                   ,"Site_Type_Desc_Broadband Remote","Feedback_BAD","Feedback_GOOD","Site_Type_Desc_Spaceway"]]

,SITE_ACCOUNT_NUMBER,NAME,CITY,Company_source_nameHNS Customers,Site_Type_Desc_Broadband Remote,Feedback_BAD,Feedback_GOOD,Site_Type_Desc_Spaceway
0,AMR-53205840,RennisaBranson,TRINITY,1,1,1,0,0
2,AMR-53608585,PavelGroisman,THURMONT,1,1,1,0,0
3,AMR-53610590,StoneysmitaStoneysmith,KENEDY,1,1,0,1,0
4,AMR-53612154,BryanaEmilio,LOVELL,1,1,0,0,0
5,AMR-53662403,RogerKey,WATSONVILLE,1,1,1,0,0
...,...,...,...,...,...,...,...,...
9964,Q-94787709,Domenickhill,MOUNT AIRY,1,1,0,0,0
9974,Q-94849221,anitaForrest,VACAVILLE,1,1,0,1,0
9993,Q-94940213,dawnaRobbins,EL CERRITO,1,1,1,0,0
9997,T000078824,RoyBlaha,ETTA,1,1,1,0,0
9999,T000080092,RussellaYamazaki,ROSEBURG,1,1,1,0,0

In [ ]:
# Having known the key factors that lead to customer churn and the categories of the least and most common churn customers 
# we use this information for fulfilling the purpose of increasing the net cash flow

In [ ]:
# For retaining the customers as well as reducing the churn rate one can follow the following points for improving the cash 
# flow --


# > Customers had left both good and bad feedback regarding the telecom services. However, mainly bad reviews are being given out 
#   by most of them. Therefore the focus needs to be on the invoice communication with the customer to know about their complaints 
#   and needs in order to retain them and improve the cash flow

# > Improving the marketing straetegies by providing discount offers to the customers can help in retaining them while also at 
#   the same time improve cash flow.

# > Taking a look at their inventories, especially the site type (Remote or Spaceway), telecom industry can better improve their
#   cash flow by proper management of services.